@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,800';
.open-sans{
	font-family: 'Open Sans', sans-serif;
}

body{
	/*background-color: #eeeeee;*/
}

*{
	font-family: 'Open Sans', sans-serif;
	text-shadow: none;
}
*:focus{
	outline: none;
}

.info-title{
	margin: 40px 0px;
}

.hide-me{
	display: none;
}

.no-h-padding{
	padding-left: 0;
	padding-right: 0;
}

select{
	background-color: #ffffff;
	color: #000000;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    border-radius: 0px;
    padding:0px;
    position: relative;
    height: 30px;
    vertical-align: middle;
    text-shadow: none;
    /*margin-top: 50%;*/
    /*transform: translateY(-50%);*/
}

tr{
	height: 60px;
	vertical-align: middle;
}
td{
	position: relative;
	height: 60px;
	padding: 0px !important;
	vertical-align: middle !important;
	width: 50% !important;
}

.no-decoration, .no-decoration:visited{
	text-decoration: none;
	color: #ffffff;
	position: relative;
	float: left;
	height: 100%;
	vertical-align: middle;
	width: 100%;
}

.card{
	width: 100%;
	height: auto;
	background-color: #ffffff;
	/*min-width: 660px;*/
	overflow: auto;
	padding: 20px 40px;
	border-radius: 2px;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
	-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
	-o-box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

.card-text{
	text-shadow: none;
	color: #333333;
}
.mlh-code-container{
	padding: 10px 0px;
}

.mlh-code{
	/*margin: 0;*/
	/*color: #000000 !important;*/
}
.inner{
	padding: 30px;
}
.skinny-text{
	font-weight: 300;
}

table{
	
}

table>tbody{
	margin: 20px;
}

td>p{
	font-size: 18px;
}

p{
	margin: 0px;
	/*font-size: 30px;*/
}

input[type="checkbox"]{
	margin: 0px;
}
input[type="text"], textarea{
	color:#000;
	font-weight: 300;
	background-color: #ffffff !important; 
	border-top-style: none !important;
	border-left-style: none !important;
	border-right-style: none !important;
}

textarea{
	margin-top: 20px;
	border-bottom-style: none !important;
	resize: none;
}

.btn-success{
	margin-top: 30px;
	margin-bottom: 100px;
	width: 100px;
	height: 50px;
	background-color: rgba(215,249,251,1);
	border-color: rgba(215,249,251,1);
	border-radius: 2px;
	color: #333333;
}

select:focus{
	outline: none;
}

table>tbody>tr>td{
	border-style: none !important;
	border-top: none !important;
}

.site-wrapper, .site-wrapper-inner{
	box-shadow: none;
}


.nav,.masthead-nav{
	background-color: #000000 !important;
	width: 100%;
	height: 60px;
	vertical-align: middle;
	z-index: 999;
}

#id02{
	display: none;
}

.nav-text{
	font-size: 20px;
	line-height: 20px;
	position: absolute;
	float: left;
	font-weight: 800;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.sky-text{
	color: rgba(215,249,251,1);
}







/*--------------------------------------------MOBILE--------------------------------------------*/


@media(max-width: 768px){
	html{
		min-width: 603px;
	}

	.table-responsive{
		border-style: none !important;
	}

	.card{
		/*min-width: 614px;*/
		border-radius: 0px !important;
	}

	.inner{
		min-width: 603px !important;
		width: 100% !important;
		padding: 0px !important;
	}

	.info-title{
		text-align: center;
	}
	/*.card-text{
		text-align: left;
	}*/

	.btn{
		/*position: relative;*/
		margin-left: 50%;
		transform: translateX(-50%);
	}
}






