/*FONT*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,800';
.open-sans{
	font-family: 'Open Sans', sans-serif;
}



/*GLOBAL STYLING*/
html{
	/*-moz-transition: height 999999999999s ease-in;
    -o-transition: height 999999999999s ease-in;
    -webkit-transition: height 999999999999s ease-in;
    transition: height 999999999999s ease-in;*/
	height: 100vh;
	width: 100vw;
	/*overflow: hidden;*/
}

body{
	background-color: rgba(33,35,56,1);
	margin: 0;
	/*-moz-transition: height 999999999999s ease-in;
    -o-transition: height 999999999999s ease-in;
    -webkit-transition: height 999999999999s ease-in;
    transition: height 999999999999s ease-in;*/
	height: 100vh;
	width: 100vw;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

span{
	font-weight: 400;
}
#wrapper{
	height: auto;
}
#registration-reminder{
	position: absolute;
	bottom: 0;
	color: white;
	left: 0;
	padding: 15px;
}

/*COLORS*/
.background-black{
	background-color: #000000;
}
.background-dark-grey{
	background-color: #333333;
}

.placeholder{
	background-color: black;
}

.background-light-grey{
	background-color: #eeeeee;
}

.background-blue{
	background-color: #2554B0;
}
.background-teal{
	background-color: #163A4C;
}
.background-rose{
	background-color: #0E0D21;
}
.grayscale{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.grayscale-50{
	-webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
    filter: grayscale(50%);
}

.grayscale-75{
	-webkit-filter: grayscale(75%); /* Chrome, Safari, Opera */
    filter: grayscale(75%);
}

.electric-back{
	background-color: rgba(234,245,186,1);
}

.font-white{
	color: #ffffff;
}

.berry-text{
	color: rgba(51,22,41,1.0);
}

.berry-back{
	background-color: rgba(56,24,61,0.5);
}

.teal-back{
	background-color: rgba(18,51,41,0.5);
}

.sky-back{
	background-color: rgba(215,249,251,1);
}

.sky-text{
	color: rgba(215,249,251,1);
}

.electric-blue-back{
	background-color: rgba(10,50,92,1);
}
.skinny-border-white{
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
}



/*OPACITY*/

.opacity-50{
	opacity: 0.5;
}

.opacity-25{
	opacity: 0.25;
}

.opacity-30{
	opacity: 0.3;
}

.opacity-75{
	opacity: 0.75;
}

.opacity-65{
	opacity: 0.65;
}
.invisible{
	visibility:hidden; 
}


/*OBJECT SIZING*/

.full-image{
	width: 100%;
	height: auto;
}

.min-width-1331{
	min-width: 1331px;
}

.min-width-999{
	min-width: 999px;
}

.height-400{
	height: 400px;
}

.height-full{
/*	-moz-transition: height 999999999999s ease-in;
    -o-transition: height 999999999999s ease-in;
    -webkit-transition: height 999999999999s ease-in;
    transition: height 999999999999s ease-in;*/
	height: 100%;
}
.height-full-screen{
	/*-moz-transition: height 999999999999s ease-in;
    -o-transition: height 999999999999s ease-in;
    -webkit-transition: height 999999999999s ease-in;
    transition: height 999999999999s ease-in;*/
	height: 100vh;
}

.height-auto{
	height: auto;
}

.width-full{
	width: 100%;
}

.width-full-screen{
	width: 100vw;
}

.height-fit{
	height: 80%;
}

.width-fit{
	width: 90%;
}

.ad-avoider{
	width: calc(100% - 410px);
}

#explore{
	height: 1000px;
}

.title-font-size{
	font-size: 5em;
}

.agenda-tracker{
	width: 2px;
	height: 100%;
}
.short-tracker{
	height: 90%;
}

.min-height-100p{
	min-height: 100%;
}

/*IMAGE SIZING*/

.image-width-full-sizing{
	width: 100%;
	height: auto;
}

/*OBJECTS*/
.faq-container{
	padding: 20px;
	width: calc(calc(50% - 40px));
}

.faq-center{
	width: calc(100% - 40px);
}
.agenda-object{
	position: relative;
	width: 100%;
	height: 60px;
	color: #ffffff;
	float: left;
	padding-top: 10px;
	min-width: 232px;
	cursor: default;
}



/*OBJECT ATTRIBUTES*/

.left-vw{
	margin-left: 15vw;
}

.gallery-text{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: calc(100% - 220px);
	margin: 0;
	font-size: 5em;
}

.click-nav-link{
	text-decoration: none;
	color: #ffffff;
}

.click-nav-link:visited{
	text-decoration: none;
	color: #ffffff;
}
.schedule-wrapper{
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
	width: calc(100% - 20vw);
	margin-left: 20vw;
}
.glance-day{
	float: left;
	width: calc(100% / 3 - 80px);
	padding-left: 80px;
}

.glance-wrapper{
	min-width: 1130px;
	width: calc(90vw + 240px);
	margin-left: 5vw;
}


.schedule-view{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	display: inline;
	-moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
	color: #ffffff;
	cursor: pointer;
}
.no-transition{
	-moz-transition: none .1s ease-in;
    -o-transition: none .1s ease-in;
    -webkit-transition: none .1s ease-in;
    transition: none .1s ease-in;
}

.nav-link-text{
	position: relative;
	float: left;
	top: 50%;
	transform: translateY(-50%);
}

.desktop-top-links-positioning{
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
	position: fixed;
	z-index: 999;
	color: white;
	background-color: black;
}

.mobile-top-links-container{
	width: 100vw;
	height: 60px;
}
.nav-link{
	width: auto;
	height: 60px;
	margin-left: 40px;
}

.arrow-image{
	display: none;
}
.agenda-object-container{
}
.blur-50{
	-webkit-filter: blur(5px); /* Chrome, Safari, Opera */
    filter: blur(5px);
}
.background-big-image{
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.overflow-hidden{
	overflow: hidden;
}

.overflow-x-hidden{
	overflow-x: hidden; 
}
.overflow-x-auto{
	overflow-x: auto; 
}

.overflow-y-hidden{
	overflow-y: hidden; 
}
.overflow-auto{
	overflow: auto;
}
.overflow-visible{
	overflow: visible;
}

.inline{
	display: inline;
}

.no-margin{
	margin: 0;
}
.no-padding{
	padding:none;
}
.link{
	cursor: pointer;
}
.link-no-decoration{
	/*color: inherit;*/
	cursor: pointer !important;
	text-decoration: none !important;
}
.link-no-decoration:-webkit-any-link{
	color: inherit;
	cursor: pointer !important;
	text-decoration: none !important;
}
.link-no-decoration:visited{
	color: inherit;
	cursor: pointer !important;
	text-decoration: none !important;
}
.no-cursor{
	cursor: default;
}

.get-off-right{
	padding-right: 20px;
}

.unselectable{
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.padding-bottom-20{
	padding-bottom: 20px;
}
.padding-top-20{
	padding-top: 20px;
}

.skinny-font{
	font-weight: 300;
}

.electric-separator{
	display: block;
	height: 2px;
	background-color: rgba(234,245,186,1);
	border:none;
}

.transition{
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.day-sign{
	
	cursor: default;
	/*width: 150px;*/
	/*height: 300px;*/
	z-index: 2;
}

.agenda-trackball{
	-moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	left: calc(-5.799px);
	margin-top: 6px;
	position: absolute;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	background-color: rgba(75,75,75,1);
	/*transform: translateX(calc(-180% - 1px));*/
}

.agenda-trackball:hover{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	margin-top: 0;
	left: -11px;
	background-color: rgba(10,50,92,1);
}

.agenda-object:hover > .agenda-trackball{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	margin-top: 0;
	left: -11px;
	background-color: rgba(10,50,92,1);
}

.agenda-time{
	position: absolute;
	left: -110px;
	width: 80px;
	text-align: right;
	cursor: default;
	color: rgba(215,249,251,1);
}

.agenda-text{
	position: absolute;
	width: 100%;
	left: 40px;
	color: #ffffff;
}
.clear-left{
	clear: left;
}
.clear-right{
	clear: right;
}
.clear-both{
	clear: both;
}

.faq-item{
	width: 100%;
	position: relative;
	color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	clear: none;
}

.faq-item h4{
	color: rgba(234,245,186,1);
}

.faq-item a{
	cursor: pointer;
	color: rgba(215,249,251,1);
}

.faq-item a:visited{
	color: rgba(215,249,251,1);
}

.center{
	clear: both;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.eat-sleep{
	font-size: 1.4em;
}
.eat-sleep h1:nth-child(3){
	font-size: 3em;
	/*opacity: ;*/
	color: rgba(180,255,248,1);
}

/*POSITION*/

.position-relative{
	position: relative;
}

.relative-centering{
	margin: 0 auto;
}

.center-text{
	text-align: center;
}

.position-absolute{
	position: absolute;
}

.position-absolute-top{
	top: 0;
	left: 0;
}

.explore-title-fixed{
	background-color: rgba(0,0,0,1);
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 200px;
	display: none;
	color: white;
	z-index: 3;
}
.schedule-title-fixed{
	background-color: rgba(33,35,56,1);
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 200px;
	display: none;
	color: white;
	z-index: 3;
}

/*.explore-title-fixed h1{
	font-weight: 300;
	font-size: 80px;
}*/

.position-over{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.position-under{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.position-absolute-middle{
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translateX(-50%) translateY(-50%);
}

.position-translate-x-middle{
	transform: translateX(calc(-50% + 1px));
}

.right-20{
	right: 20px;
}

.right-5p{
	right: 5%;
}

.left-5p{
	left: 5%;
}

.top{
	top: 0;
}

.top-10{
	top: 10px;
}

.position-inline-outer-middle{
	text-align: center;
}
.position-inline-inner-middle{
	display: inline-block;
}

.zindex-3{
	z-index: 3;
}

.zindex-top{
	z-index: 999;
}

.negative-margin-full{
	transform: translateY(-100%);
}

.margin-right-10{
	margin-right: 10px;
}

.margin-left-10{
	margin-left: 10px;
}

.margin-left-60{
	margin-left: 60px;
}

.bump-top-left{
	margin-left: 20px;
	margin-top: 20px;
}
.bump-down-10{
	padding-top: 10px;
}
.title-placement{
	padding-top: 50px;
	padding-left: 50px;
}
.no-link-color{
	color: rgba(255,255,255,0.5);
	text-decoration: none;
	font-size: 12px;
}
.no-link-color:visited{
	color: rgba(255,255,255,0.5);
	text-decoration: none;
}
.bottom-middle{
	bottom: 0;
	left: 20vw;
	/*transform: translateX(-60%);*/
	padding-bottom: 10px;
}
.negative-margin{
	/*margin-left: -30px;*/
}

.directions-initial{
	/*display: none;*/
	position: fixed;
	width: 1px;
	height: 1px;
	left: 50%;
	top: 70px;
	transform: translateX(-50%);
	z-index: 999;
	/*transform: translateX(-50%);*/
	overflow: hidden;
}
.transition-3{
	-moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.directions-final{
	background-color: #ffffff;
	/*display: block;*/
	/*position: fixed;*/
	/*top: 0;*/
	/*left: 0;*/
	/*z-index: 999;*/
	width: 90vw;
	height: calc(100vh - 60px - 30px - 70px - 20px);
	overflow: auto;
	padding: 30px;
	/*left: 50%;
	top: 50%;
	transform: translateY(-50%);*/
	/*transform: translateX(-50%);*/

}

.cancel-directions-x{
	color: #000000;
	margin: 0;
	top: 20px;
	right: 30px;
	font-weight: 300;
}

.cancel-directions-close{
	width: 100px;
	height: 50px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 5px;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}


/*UNIQUE*/

#cancel-directions{
	z-index: 999;
	position: absolute;
	cursor: pointer;
}

#blurgrammer{
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-image: url("../../img/fall2016/desktop-eat-sleep.jpg");
	background-size: cover;

}
#main-image-cover{
}

#atlanta-gif{
	background-image: url("../../img/fall2016/cover.gif");
}

#info-block{
	display: none;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
	/*background-color: rgba(0,0,0,0.15);*/
	background-color: rgba(255,255,255,0.8);
	/*border: solid;*/
	/*border-width: 5px;*/
	/*border-color: rgba(255,255,255,0.8);*/
	border-radius: 5px;
	color: rgba(255,255,255,1);
	width: 300px;
	height: 200px;
	position: fixed;
	bottom: -10px;
	right: 40px;
	padding: 10px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

}
#info-block:hover{
	background-color: rgba(255,255,255,1) !important;
	/*background-color: rgba(0,0,0,0.5);*/
	/*-webkit-filter: blur(5px); 
    filter: blur(5px);*/
}
/*#info-block h2{
	font-weight: 400;
}*/

#info-block h1{
	/*font-weight: 400;*/
	/*color: rgba(51,22,41,1.0);*/
	color: rgba(0,0,0,0.7);
	/*-webkit-text-stroke-width: 2px;*/
  	/*-webkit-text-stroke-color: rgba(0,0,0,0.4);*/
}

#info-block h3{
	/*font-weight: 400;*/

	/*color: rgba(215,249,251,1);*/
	color: rgba(0,0,0,0.7);
	/*color: rgba(251,210,227,1);*/
	/*color: rgba(187,196,255,1);*/
}

/*#info-block::before{
	-webkit-filter: blur(5px); 
    filter: blur(5px);
}*/

#rsvp-button{
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
	border: solid;
	border-width: 4px;
	border-radius: 3px;
	border-color: rgba(215,249,251,1);
	width: 40%;
	height: auto;
	vertical-align: middle;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.5em;
	cursor: pointer;
	
	box-shadow: -1px 2px 5px #888888;
	-webkit-box-shadow: -1px 2px 5px #888888;
	-moz-box-shadow: -1px 2px 5px #888888;
	-o-box-shadow: -1px 2px 5px #888888;
}
.rsvp-button{
	background-color: rgba(215,249,251,1);
	color: rgba(0,0,0,0.7);
}

#rsvp-button:hover{
	background-color: rgba(0,0,0,0.7) !important;
	color: rgba(215,249,251,1) !important;
	border-color: rgba(215,249,251,1) !important;
}

#schedule{
	background-color: rgba(33,35,56,1);
	padding-bottom: 145px;
	/*height: 500px;*/
}

#schedule-container{
	
}

#schedule-wrapper{
	padding-bottom: 40px; 
	/*height: calc(100% - 200px);*/
	/*overflow: auto;*/
}

#schedule-title{
	
}

#petit-image{
	/*background-image: url("../../img/fall2016/mobile-petit-sky.jpg");*/
}

#back-image{
	background-image: url("../../img/fall2016/desktop-main.jpg");
	background-size: cover;
}

#image2{
	background-image: url("../../img/fall2016/mobile-image2.jpg");
}

#agenda-object-selected .agenda-trackball{
	width: 20px;
	margin-top: 0;
	height: 20px;
	border-radius: 20px;
	left: -10.5px;
	background-color: rgba(10,50,92,1);
	z-index: 3;
}

#sponsors-image{
	width: calc(100% - 15vw);
	height: calc(100% - 160px);
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 15vw;
	background-image: url("../../img/fall2016/desktop-sponsors.png");
}

#stream-view{
	color: rgba(215,249,251,1);
	margin-left: 15vw;
}
#stream-view-fixed{
	margin-left: 15vw;
	color: rgba(215,249,251,1);
}
#glance-view{
	margin-left: 5vw;
}
#glance-view-fixed{
	margin-left: 5vw; 
}
#view-text-wrapper{
	display: none;
}
.view-text-wrapper-fixed{
	position: fixed;
	/*height: 22px;*/
	display: block;
}
.view-text-wrapper-script{
	display: none;
	width: 100%;
	height: 22px;
	background-color: rgba(33,35,56,1);
	z-index: 4;
	padding-bottom: 10px;
}
.view-text-wrapper-absolute{
	position: absolute;
	display: block;
}
#sponsors{
	padding-bottom: 100px;
}
.desktop-slideshow-image{
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
	background-image: url("../../img/fall2016/slideshow/desktop/hackathon.jpg");
}
#desktop-slideshow-image{
	display: block;
	position: relative;
	float: left;
	width: 90%;
	left: 50%;
	top: 70px;
	transform: translateX(-50%);
	height: calc(100% - 290px);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#slideshow-container{
	background-color: rgba(0,0,0,1);
	padding-bottom: 40px;
}
#main-logo{
	width: 109px;
	height: 109px;
	display: inline;
	position: relative;
	float: left;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../../img/fall2016/main-logo.png");
	/*top: 33%;*/
	/*left: 40%;*/
	/*transform: translateY(-50%);
	transform: translateX(-50%);*/

}
#title{
	float: left;
	position: relative;
	float: left;
	display: inline;
}
#main-image-container{
	min-width: 475px;
}

#explore-title{
	/*position: fixed;*/
	/*top:3000px;*/
}

#view-text-wrapper-fixed{
	background-color: rgba(33,35,56,1);
}

#announcement-block{
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
	display: block;
	position: fixed;
	background-color: #ffffff;
	overflow: auto;
	
	
	
	/*border-top-left-radius: 5px;*/
	/*border-top-right-radius: 5px;*/
}
.announcement-block{
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
	opacity: 0.8;	
	padding: 20px 0px;
	/*display: none;*/
	z-index: 2147483647;
	height: 60px;
	bottom: 0;
	width: 260px;
	right: 40px;
}

/*.announcement-block-hidden{
	overflow: hidden !important;
	height: 60px;
}*/

.announcement-block-active{
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
	/*display: block;*/
	opacity: 0.8;
}

.announcement-block-tall{
	height: calc(100vh - 130px);
}

.announcement-block-tall-push{}

.announcement-block-active:hover{
	/*opacity: 1;*/
}

.announcement-close{
	position: absolute;
	cursor: pointer;
	top: -5px;
	right: 8px;
	width: 50px;
	font-size: 24px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	z-index: 999;
}

.announcement-content{
	-moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
	margin-bottom: 4px;
	padding-bottom: 20px;
	border-left-style: solid;
	border-left-width: 20px;
	cursor: default;
	/*border-bottom-style: solid;*/
	/*border-bottom-width: 4px;*/
	/*border-bottom-color: rgba(255,255,255,0.5);*/
}

/*.announcement-content:hover > *{
	color: rgba(255,255,255,0.9);
}*/


.announcement-title{
	position: relative;
	float: left;
	clear: both;
	overflow: hidden;
	text-overflow: all;
	width: calc(100% - 40px);
	white-space: all;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: rgba(0,0,0,0.8);
	/*text-shadow: 1px -1px 2px #ffffff;*/
	/*position: relative;*/
	/*float: left;*/
}
.announcement-body{
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
	text-overflow: all;
	width: calc(240px - 20px - 20px);
	overflow: hidden;
	white-space: all;
	/*max-height: 30px;*/
	/*position: relative;*/
	/*float: left;*/
}
.announcement-header{
	cursor: pointer;
	text-align: center;
	margin: 20px 0px;
	padding-bottom: 10px;
}

.announcement-minimizer{
	/*-moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;*/
	cursor: pointer;
	height: 100px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.announcement-topic{
	/*position: relative;
	float: r
	bottom: 5px;
	right: 5px;*/
	margin-top: 10px;
	position: relative;
	float: right;
	margin-right: 20px;
	color: rgba(0,0,0,0.7);
	font-size: 12px;
}
.announcement-topic-invisible{
	margin-top: 10px;
	padding-left: 20px;
	opacity: 0;
}

.announcement-time{
	position: relative;
	float: left;
	margin-top: 10px;
	padding-left: 20px;
	font-size: 12px;
	color: rgba(0,0,0,0.9);
}

.announcements-link{
	display: none;
}

.tech-side-color{
	border-left-color: rgba(22,58,76,1);
}

.tech-side-color:hover{
	background-color: rgba(22,58,76,0.2);
}

.food-side-color{
	border-left-color: rgba(68,32,61,1.0);
}

.food-side-color:hover{
	background-color: rgba(68,32,61,0.2);
}

.general-side-color{
	border-left-color: rgba(13,25,86,1);
}

.general-side-color:hover{
	background-color: rgba(13,25,86,0.2);
}

/*.tech-side-color>h4{
	color: #163A4C
}*/




/*----------------------------------------@MEDIA----------------------------------------*/
@media(max-width: 3800px){
	.min-width-1124{
		min-width: 3067px;
	}
	.min-width-999{
		min-width: 2729px;
	}
}

@media(max-width: 1500px){
	.min-width-1331{
		min-width: 1331px;
	}
	.min-width-999{
		min-width: 999px;
	}
}



@media(max-width:755px){

	/*MOBILE GLOBAL*/
	*{
		-webkit-user-select: none; /* Chrome/Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */

		/* Rules below not implemented in browsers yet */
		-o-user-select: none;
		user-select: none;
	}
	html,body{
		-moz-transition: height 999999999999s ease-in;
    	-o-transition: height 999999999999s ease-in;
    	-webkit-transition: height 999999999999s ease-in;
	}

	.height-full-screen{
		-moz-transition: height 999999999999s ease-in;
    	-o-transition: height 999999999999s ease-in;
    	-webkit-transition: height 999999999999s ease-in;
    	transition: height 999999999999s ease-in;
		height: 100vh;
	}
	
	/*MOBILE POSITIONING*/
	
	.width-third{
		margin-left: 0;
		width: calc(100% / 3);
	}

	.ad-avoider{
		width: 100%;
	}

	.mobile-center-h1{
		position: relative;
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}

	.mobile-padding-vertical-bump{
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.mobile-cover-full-image{
		background-size: cover;
		background-repeat: no-repeat;
    	width: 100vw;
    	-moz-transition: height 999999999999s ease-in;
   		-o-transition: height 999999999999s ease-in;
   		-webkit-transition: height 999999999999s ease-in;
    	transition: height 999999999999s ease-in;
    	height: 100vh;
    	background-position: center;
	}

	.mobile-cover-full-image-large{
		width: 200vw;
	}

	.mobile-top-links-positioning{
		background-color: black;
		height: 60px;
		position: fixed;
		top: auto;
		/*left: 50%;*/
		/*transform: translateX(-50%);*/
		width: 100%;
		bottom: 0px;
		left: 0;
		vertical-align: middle;
	}
	.mobile-top-links-container{
		height: 100%;
		margin: 0 auto;
		width: auto;
		text-align: center;
		/*transform: translateY(30%);*/
	}

	.faq-item{
		width: 100%;
		float: left;
	}

	.center{
		text-align: left;
		width: 100%;
	}
	.title-font-size{
		font-size: 4em;
	}
	.slideshow-image{
		display: inline-block;
	}
	.arrow-image{
		display: block;
		position: absolute;
		-moz-transition: top 999999999999s ease-in;
	    -o-transition: top 999999999999s ease-in;
	    -webkit-transition: top 999999999999s ease-in;
	    transition: top 999999999999s ease-in;
		top: 0;
		z-index: 4;
		width: 100vw;
		height: 100%;
		-moz-transition: height 999999999999s ease-in;
	    -o-transition: height 999999999999s ease-in;
	    -webkit-transition: height 999999999999s ease-in;
	    transition: height 999999999999s ease-in;
	}
	.slideshow-start-text{
		width: 25px;
		color: rgba(255,255,255,1);
		font-size: 0.5em;
		font-weight: 300;
		position: absolute;
		-moz-transition: top 999999999999s ease-in;
	    -o-transition: top 999999999999s ease-in;
	    -webkit-transition: top 999999999999s ease-in;
	    transition: top 999999999999s ease-in;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 25px;
		z-index: 5;		
		text-align: center;
		z-index: 7;
		cursor: pointer;
	}

	.slideshow-image-placement{
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		cursor: pointer;
		position: absolute;
		-moz-transition: top 999999999999s ease-in;
	    -o-transition: top 999999999999s ease-in;
	    -webkit-transition: top 999999999999s ease-in;
	    transition: top 999999999999s ease-in;
		top: 50%;
		-moz-transition: transform 999999999999s ease-in;
	    -o-transition: transform 999999999999s ease-in;
	    -webkit-transition: transform 999999999999s ease-in;
	    transition: transform 999999999999s ease-in;
		transform: translateY(-50%);
		width: 100px;
		-moz-transition: height 999999999999s ease-in;
	    -o-transition: height 999999999999s ease-in;
	    -webkit-transition: height 999999999999s ease-in;
	    transition: height 999999999999s ease-in;
		height: auto;
		z-index: 6;
		
	}

	.slideshow-image-placement:focus{
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

	.nav-link{
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-moz-transition: all .3s ease-in;
	    -o-transition: all .3s ease-in;
	    -webkit-transition: all .3s ease-in;
    	transition: all .3s ease-in;
		height: 100%;

	}

	.nav-link:focus{
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		outline: none;
	}

	/*.nav-link:hover{
		
		background-color: #666666;
	}*/

	.nav-link-text{
		height: 0.9em;
		font-size: 0.9em;
		line-height: 0.9em;
		top: 50%;
		bottom: 0;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		position: absolute;
	}

	.faq-container{
		width: calc(100% - 40px);
	}

	.left-vw{
		margin-left: 5vw;
		margin-right: 5vw;
	}
	.gsu-map{
		width: 70% !important;
	}
	.explore-title-fixed{
		display: none !important;
	}
	.schedule-title-fixed{
		display: none !important;
	}
	.gallery-text{
		display: none;
	}
	.negative-margin{
		margin-left: 0px;
	}



	/*MOBILE UNIQUE*/



	#info-block{
		display: none;
	}

	#back-image{
		background-image: url(../../img/fall2016/mobile-top-image.jpg);
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    	width: 100vw;
    	-moz-transition: height 999999999999s ease-in;
	    -o-transition: height 999999999999s ease-in;
	    -webkit-transition: height 999999999999s ease-in;
	    transition: height 999999999999s ease-in;
    	height: 100vh;
	}

	#petit-image{
		background-image: url(../../img/fall2016/slideshow/mobile-petit-sky.jpg);
	}

	#standing-image{
		background-image: url(../../img/fall2016/slideshow/mobile-standing.jpg);
	}

	#browsing-image{
		background-image: url(../../img/fall2016/slideshow/mobile-hacktop2.jpg);
	}

	#blurgrammer{
		background-image: url(../../img/fall2016/mobile-blurred-programmer.jpg);
	}
	#ad-group1-image{
		background-image: url(../../img/fall2016/slideshow/mobile-ad-group1.jpg);
	}
	#two-programmers-image{
		background-image: url(../../img/fall2016/slideshow/mobile-2programmers.jpg);
	}
	#two-programmers2-image{
		background-image: url(../../img/fall2016/slideshow/mobile-2programmers2.jpg);
	}
	#hacktop-image{
		background-image: url(../../img/fall2016/slideshow/mobile-hacktop.jpg);
	}
	#bottom-image{
		background-image: url(../../img/fall2016/mobile-bottom-image.jpg);
	}
	#slideshow-right{
		left: calc(100vw - 100px);
	}
	#slideshow-left{
		right: calc(100vw - 100px);
	}


	#schedule-wrapper{
		margin-left: 30vw;
	}
	#registration-reminder{
		width: 90%;
		text-align: center;
	}

	#bottom-image-cover{
		display: none;
	}
	#city-gif{
		display: none;
		/*-webkit-filter:blur(4px);
		filter: blur(4px);
		background-image: url(../../img/fall2016/mobile-city.gif);*/
	}
	#mobile-spacer{
		display: block;
		width: 100vw;
		height: 60px;
		-moz-transition: height 999999999999s ease-in;
	    -o-transition: height 999999999999s ease-in;
	    -webkit-transition: height 999999999999s ease-in;
	    transition: height 999999999999s ease-in;
		position: relative;
		float: left;
	}

	#appstore{
		background-image: url("../../img/fall2016/appstore.png");
	}
	#slideshow{
		width: calc(100vw * 3 + 200vw * 4);
	}
	#slideshow-start-text-left{
		left: calc(100vw - 25px);
		margin-left: -33px;
	}
	#slideshow-start-text-right{
		right: calc(100vw - 25px);
		margin-right: -33px;
	}

	#arrow-image-left{
		left: 0;
		z-index: 5;
	}
	#arrow-image-right{
		right: 0;
	}
	/*#faq-link{
		vertical-align: middle;
	}*/
	#slack-link{
		display: none;
	}
	#sponsors{
		margin-bottom: 0;
		-moz-transition: height 999999999999s ease-in;
	    -o-transition: height 999999999999s ease-in;
	    -webkit-transition: height 999999999999s ease-in;
	    transition: height 999999999999s ease-in;
		height: auto;
		/*background-repeat: no-repeat;*/
		/*background-size: contain;*/
		/*background-image: url("../../img/fall2016/sponsors.png");*/
	}
	#sponsors-image{
		display: none;
	}
	#mobile-sponsors-image{
		display: block;
		width: 100%;
		-moz-transition: height 999999999999s ease-in;
	    -o-transition: height 999999999999s ease-in;
	    -webkit-transition: height 999999999999s ease-in;
	    transition: height 999999999999s ease-in;
		height: 100vh;
		padding-top: 150px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		background-image: url("../../img/fall2016/sponsors.png");
	}
	#view-text-wrapper{
		width: auto;
		height: 22px;
		text-align: center;
		position: relative;
	    display: block;
	    float: left;
	    left: 50%;
	    transform: translateX(-50%);
	}
	#stream-view{
		margin-left: 0;
	}
	#friday{
		padding-left: 0;
	}
	#schedule-link{
		display: none;
	}
	#explore-link{
		display: none;
	}
	#desktop-slideshow-image{
		display: none;
	}
	#gallery-link{
		display: none;
	}
	#slideshow-container{
		padding-bottom: 0;
	}
	#main-logo{
		display: none;
	}
	#main-image-container{
		min-width: 0px;
	}
	#shameless-plug{
		display: none;
	}
	#view-text-wrapper-fixed{
		display: none;
	}
	#directions-view{
		display: none;
	}
	.announcement-block{
		-moz-transition: height 999999999999s ease-in;
	    -o-transition: height 999999999999s ease-in;
	    -webkit-transition: height 999999999999s ease-in;
	    transition: height 999999999999s ease-in;
		/*height: calc(100vh - 60px);*/
		opacity: 1;
		width: 100vw;
		bottom: 60px;
		display: block;
		height: 0;
		padding: 0px 0px 0px 0px;
		/*margin-bottom: 20px;*/
		/*bottom:160px;*/
		left: 0;
	}

	#register-link{
		display: none;
	}

	#announcements-link{
		-moz-transition: height 999999999999s ease-in;
	    -o-transition: height 999999999999s ease-in;
	    -webkit-transition: height 999999999999s ease-in;
	    transition: height 999999999999s ease-in;
		top: auto;
		left: auto;
		display: block;
		cursor: pointer;
		height: 100%;
		width: calc(100%/3);
		position: relative;
		float: left;
		z-index: 999;
		padding-bottom: 0;
	}

	.announcement-minimizer-2{
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		/*padding-bottom: 10px;*/
	}

	.announcement-minimizer{
		/*padding-bottom: 10px;*/
		-moz-transition: height 999999999999s ease-in;
	    -o-transition: height 999999999999s ease-in;
	    -webkit-transition: height 999999999999s ease-in;
	    transition: height 999999999999s ease-in;
	}

	.announcement-body{
		width: calc(100% - 20px - 20px);
		-moz-transition: height 999999999999s ease-in;
	    -o-transition: height 999999999999s ease-in;
	    -webkit-transition: height 999999999999s ease-in;
	    transition: height 999999999999s ease-in;
	}


}











