@import 'variables';

html{
	min-height: 100%;
}

body{
	// background-color: black;
	margin: 0;
	// min-height: 100vh;
	// min-width: 660px;
	&.isMobile{
		background-color: black;
	}
}

.welcome{
	position: relative;
	float: left;
	clear: both;
	margin-top: 180px;
	font-weight: 300;
	color: white;
	width: calc(100% - 40px);
	text-align: center;
	font-size: 4em;
	&.isMobile{
		width: calc(100% - 20px);
		margin-top: 100px;
		font-size: 3em;
		padding: 0px 10px;
		display: none;
	}
}


/////////////////////////////////////////// input styling ///////////////////////////////////////////

::-webkit-input-placeholder { font-weight: 300; }
::-moz-placeholder { font-weight: 300; } /* firefox 19+ */
:-ms-input-placeholder { font-weight: 300; } /* ie */
input:-moz-placeholder { font-weight: 300; }


.search_box{
	position: absolute;
	top: 30px;
	width: calc(100% - 40px);
	height: 40px;
	// left: 50%;
	// transform: translateX(-50%);
	background-color: white;
	min-width: 200px;
	opacity: 0;
	overflow: hidden;
	&.isMobile{
		top: 20px;
		width: calc(100% - 40px);
		left: 50%;
		transform: translateX(-50%);
		height: 60px;
		border-radius: 2px;
	}

	@keyframes showSearch{
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}

	animation: showSearch .3s ease-out .8s forwards;


	>#search_text{
		position: relative;
		float: left;
		height: 20px;
		margin: 0;
		width: calc(100% - 80px);
		border: none;
		padding: 10px;
		font-size: 20px;
		-webkit-box-shadow: 0 0 0px 1000px white inset;
		overflow: hidden;
		//{ ** INCLUDES
			@include noDecoration();
		//} ** END INCLUDES
		&.isMobile{
			height: 40px;
			font-size: 20px;
			line-height: 40px;
			vertical-align: middle;
			border-radius: 2px;
		}
	}
	>#hackbot_submit{

		//{ ** INCLUDES
			@include noDecoration();
		//} ** END INCLUDES
		
		position: relative;
		float: left;
		height: 20px;
		margin: 10px;
		padding: 0;
		width: 40px;
		background-image: url("../../img/spring2017/magnify.png");
		background-size: contain;
		background-color: white;
		background-repeat: no-repeat;
		background-position: center;
		border: none;
		cursor: pointer;
		&.isMobile{
			height: 30px;
			margin: 15px 10px;
		}
	}
}

.top_result{
	display: block;
	position: relative;
	float: left;
	clear: left;
	width: calc(100% - 400px);
	margin-top: 100px;
	opacity: 1;
	// background-color: white;
	min-width: 260px;

	&.isMobile{
		width: 90%;
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: -100px;
	}


	@keyframes showResult{
		0%{
			margin-top: 70px;
			opacity: 0;
		}
		30%{
			opacity: 0.3;
		}
		60%{
			opacity: 0.6;
		}
		80%{
			margin-top: -5px;
		}
		90%{
			opacity: 1;
		}
		100%{
			margin-top: 0px;
			opacity: 1;
		}
	}

	@keyframes showMoreResult{
		0%{
			margin-top: 250px;
			opacity: 0;
		}
		30%{
			opacity: 0.3;
		}
		60%{
			opacity: 0.6;
		}
		80%{
			margin-top: 175px;
		}
		90%{
			opacity: 1;
		}
		100%{
			margin-top: 180px;
			opacity: 1;
		}
	}

	@keyframes showMoreResultSmall{
		0%{
			margin-top: 170px;
			opacity: 0;
		}
		30%{
			opacity: 0.3;
		}
		60%{
			opacity: 0.6;
		}
		80%{
			margin-top: 95px;
		}
		90%{
			opacity: 1;
		}
		100%{
			margin-top: 100px;
			opacity: 1;
		}
	}

	>.label{
		color: white;
		position: relative;
		float: left;
		opacity: 0;
		margin-top: 70px;
		animation: showResult 0.5s ease-out .4s forwards;
		margin-bottom: 60px;
		&.isMobile{
			margin-bottom: 20px;
		}
	}
	>.none{
		position: relative;
		font-size: 0.7em;
		padding-right: 20px;
		font-weight: 300;
		color: white;
		float: left;
		clear: left;
	}
	>.faq{
		color: white;
		opacity: 0;
		margin-top: 70px;
		float: left;
		clear: left;
		border: solid white 1px;
		border-radius: 5px;
		padding: 20px;
		animation: showResult 0.5s ease-out .6s forwards;

		>.title{
			font-weight: 300;
			font-size: 2em;
			margin-bottom: 20px;
		}
		>.content{
			font-weight: 300;
			font-size: 1.2em;

			>a{

				//{ ** INCLUDES
					@include noDecoration();
					color: #82ddf0;
				//} ** END INCLUDES
				
			}
		}

	}

	>.event{
		opacity: 0;
		color: white;
		margin-top: 70px;
		position: relative;
		float: left;
		clear: left;
		padding: 20px;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 5px;
		animation: showResult 0.5s ease-out .6s forwards;

		>table{
			position: relative;
			float: left;
			clear: both;
			// left: 50%;
			// transform: translateX(-50%);
			// padding: 20px;
			tbody{
				tr{
					td{
						padding: 10px 20px;
						&.time{
							border-right: solid 1px white;
							font-size: 1.7em;
							font-weight: 300;
						
							&.isMobile{
								min-width: 153px;
								text-align: center;
							}
						}
					}
				}
			}
		}
	}

	>.mrequest{
		opacity: 0;
		margin-top: 70px;
		animation: showResult 0.5s ease-out .6s forwards;
		//{ ** INCLUDES
			@include relativeMiddle();
		//} ** END INCLUDES
				
		//{ ** ATTRIBUTES
			width: 100%;
		//} ** END ATTRIBUTES
		

		form{
			position: relative;
			float: left;
			width: 100%;
			*{
				position: relative;
				float: left;
				clear: left;
			}
			label{
				&:not(#submitLabel){
					font-weight: 300;
				}
				&:not(#checkbox-label){
					margin-top: 20px; 
					margin-bottom: 10px;
				}

				&#submitLabel{
					// font-weight: 900;
					font-size: 1.2em;
					cursor: pointer;
					padding: 10px;
					//{ ** INCLUDES
						@include relativeMiddle();
					//} ** END INCLUDES
					
				}

				//{ ** INCLUDES
					@include notSelectable();
					color: white;
				//} ** END INCLUDES
				
			}

			.roomin, .near{
				display: none;
			}
			#checkbox-label{
				clear: none;
				margin-left: 5px;
			}
			input[type=checkbox]#roomyn{
				&:checked ~ .roomin{
					display: block;
				}
				&:not(:checked) ~ .near{
					display: block;
				}
			}

			input:not(.checkbox), textarea{
				background-color: black;
				color: white;
				border: solid 2px white;
				border-radius: 2px;
				width: calc(100% - 46px);
				margin-bottom: 10px;
				padding: 20px;
				font-size: calc(12px + 0.5vw);

				//{ ** INCLUDES
					@include noDecoration();
					color: white;
				//} ** END INCLUDES
				
			}
			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: white;
			}
			::-moz-placeholder { /* Firefox 19+ */
				color: white;
			}
			:-ms-input-placeholder { /* IE 10+ */
				color: white;
			}
			:-moz-placeholder { /* Firefox 18- */
				color: white;
			}
			input[type=submit]{
				display: none;
			}
		}
	}
	>.mrequest_status{

		//{ ** ATTRIBUTES
			opacity: 0;
			color: white;
			// background-color: white;
			margin-top: 70px;
			position: relative;
			float: left;
			clear: left;
			padding: 20px;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 5px;
			border: solid 2px white;
			animation: showResult 0.5s ease-out .6s forwards;
		//} ** END ATTRIBUTES


		//{ ** INCLUDES
			@include card();
		//} ** END INCLUDES
		
		>table{
			color: white !important;
			position: relative;
			float: left;
			width: 100%;
			text-align: center;
			margin-bottom: 20px;
			>tbody{
				>tr{
					>th{
						padding-bottom: 10px;
					}
				}
			}
		}

		>.message{

			//{ ** INCLUDES
				// @include relativeMiddle();

			//} ** END INCLUDES

			//{ ** ATTRIBUTES
					position: relative;
					float: left;
					width: 100%;
					clear: both;
				   // text-align: center;
			//} ** END ATTRIBUTES
			
			
		}

		>.completeButton{
			display: block;

			//{ ** INCLUDES
				@include relativeMiddle();
				@include notSelectable();
				@include noDecoration();
				@include quickTransition(all);
			//} ** END INCLUDES

			//{ ** ATTRIBUTES
				position: relative;
				float: left;
			//} ** END ATTRIBUTES
			


			//{ ** ATTRIBUTES
				margin-top: 10px;
				clear: both;
				padding: 10px;
				border: solid 2px white;
				border-radius: 5px;
				color: white;
				cursor: pointer;
			//} ** END ATTRIBUTES
			
			&:not(.isMobile):hover{
				background-color: white;
				color: black;
			}
			
		}
		>#completeButtonForm{
			margin-top: 10px;
			border-top: 1px solid white;
			display: none;
			position: relative;
			float: left;
			clear: both;
			>*{
				position: relative;
				float: left;
				clear: both;
			}
			input[type=email]{

				//{ ** INCLUDES
					// @include noDecoration();
				//} ** END INCLUDES
				
				margin-top: 20px;
				height: 30px;
				line-height: 30px;
				padding: 10px;
				font-size: calc(12px + 0.5vw);
			}
			>#completeSubmit{
				display: none;
			}
			>label{
				>div{

					//{ ** INCLUDES
						@inlude noDecoration();
						@include notSelectable();
					//} ** END INCLUDES
					
					margin-top: 10px;
					cursor: pointer;
				}
			}
			span{
				color: $color-link;
				margin-top: 20px;
			}
		}
	}
	.mcolor{
		color: $color-link;
	}
}	

.more_results{
	display: block;
	position: relative;
	float: right;
	padding-right:40px;
	margin-left: 20px;
	max-width: 300px;
	min-width: 200px;
	margin-top: 250px;
	opacity: 0;
	// background-color: white;



	animation: showMoreResult 0.5s ease-out .7s forwards;

	>.label{
		color: $color-link;
		position: relative;
		float: right;
		// opacity: 1;
		// margin-top: 70px;
		margin-right: 20px;
		// animation: showResult 0.5s ease-out .7s forwards;
		margin-bottom: 60px;
	}
	>.none{
		position: relative;
		font-size: 0.7em;
		margin-right: 20px;
		font-weight: 300;
		color: white;
		float: right;
		clear: right;
		&.isMobile{
			float: left;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	>.more_form{
		>input[type="submit"]{
			display: none;
		}
		>label{
			>.faq{
				color: white;
				// opacity: 0;
				// margin-top: 70px;
				float: right;
				clear: right;
				width: calc(100% - 40px);
				// border: solid white 1px;
				// border-radius: 5px;
				padding: 10px 20px;
				// animation: showResult 0.5s ease-out .9s forwards;

				>.title{
					font-weight: 300;
					font-size: 1em;
					margin-bottom: 0px;
					// color: #82ddf0;
					cursor: pointer;
				}
				>.content{
					display: none;
				}
			}
			>.event{
				color: white;
				float: right;
				clear: right;
				width: calc(100% - 40px);
				padding: 10px 20px;

				table{
					position: relative;
					float: right;
					&.isMobile{
						float: left;
						left: 50%;
						transform: translateX(-50%);
					}
					tbody{
						.time{
							padding: 0px 10px;
							cursor: pointer;
						}
						.title{
							cursor: pointer;
						}
						.location{
							display: none;
						}
					}
				}

			}
		}
	}
	

	&.isMobile{
		width: 90%;
		left: 50%;
		transform: translateX(-50%);
		margin-left: initial;
		padding-right: initial;
		float: left;
		clear: left;
		min-width: initial;
		max-width: initial;


		>.label{
			margin-right: initial;
			margin-bottom: 30px;
			float: left;
			clear: left;
			width: 100%;
			text-align: center;
		}
		>.more_form{
			>label{
				>.faq{
					width: 100%;
					padding: 10px 0px;
					text-align: center;
				}
			}
			>*{

				//{ ** INCLUDES
					@include noDecoration();
				//} ** END INCLUDES
				
			}
		}
		

	}
}

.quick_links{
	position: relative;
	float: left;
	clear: both;
	width: calc(100% - 40px);
	margin-top: 80px;
	font-weight: 300;
	opacity: 0;
	color: white;
	margin-bottom: 20px;

	>form{
		>input[type=submit]{
			display: none;
		}
		>label{
			>.link{
				position: relative;
				float: left;
				clear: none;
				padding: 10px;
				border-bottom: solid 2px white;
				// border-radius: 5px;
				margin-left: 10px;
				margin-bottom: 10px;
				color: white;
				background-color: transparent;
				cursor: pointer;


				//{ ** INCLUDES
					// @include quickTransition(background-color);
				//} ** END INCLUDES
				

				&:hover:not(.isMobile){
					@keyframes link-color{
						from{
							color: white;
							background-color: transparent;
						}
						to{
							color: black;
							background-color: white;
						}
					}

					animation: link-color .2s ease-out 0s forwards;
					
				}
			}
			&.devpostLabel.isMobile{
				display: none;
			}
		}
	}
	
	&.isMobile{
		margin-top: 120px;
		width: 100%;

		>.label{
			width: 100%;
			text-align: center;
		}

		>form{
			>label{
				>.link{
					clear: both;
					left: 50%;
					transform: translateX(-50%);
					margin-left: initial;

					//{ ** INCLUDES
						@include notSelectable();
						@include noDecoration();
					//} ** END INCLUDES
					cursor: pointer;
					color: white;
					text-align: center;
				}
			}
		}
	}

	&.bottom:not(.isMobile){
		position: absolute;
		bottom: 0;
		float: initial;
		clear: initial;
	}
	

	@keyframes quickLinks{
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}

	animation: quickLinks 0.5s ease-out .9s forwards;

	>.label{
		font-weight: 400;
		font-size: 1.5em;
		color: $color-link;
		margin-bottom: 20px;
	}
	
}


@media (max-width: 627px){
	.top_result:not(.isMobile){
		width: calc(100% - 40px);
		>.label{
			width: 100%;
			text-align: center;
		}
	}

	.more_results:not(.isMobile){
		width: calc(100% - 40px);
		max-width: initial;
		min-width: initial;
		float: left;
		clear: left;
		padding: initial;
		margin: initial;
		margin-bottom: 40px;
		margin-top: 170px;

		animation: showMoreResultSmall 0.5s ease-out .7s forwards;

		>.none{
			float: left;
			left: 50%;
			transform: translateX(-50%);
		}

		>.label{
			float: left;
			clear: left;
			width: 100%;
			margin-bottom: 40px;
			// padding: 0px 20px;
			text-align: center;
			margin-right: initial;
		}

		>.faq{
			padding: 10px 0px;
			>.title{
				float: left;
				clear: left;
				width: 100%;
				text-align: center;
			}
		}
	}
}

@media (max-height: 525px){
	.quick_links.bottom:not(.isMobile){
		position: relative;
		float: left;
		margin-top: 20px;
	}
}