@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,900");
* {
  font-family: "Lato", sans-serif; }

html {
  min-height: 100%; }

body {
  margin: 0; }

.welcome {
  position: relative;
  float: left;
  clear: both;
  margin-top: 180px;
  font-weight: 300;
  color: white;
  width: calc(100% - 40px);
  text-align: center;
  font-size: 4em; }
  .welcome.isMobile {
    width: calc(100% - 20px);
    margin-top: 100px;
    font-size: 3em;
    padding: 0px 10px;
    display: none; }

::-webkit-input-placeholder {
  font-weight: 300; }

::-moz-placeholder {
  font-weight: 300; }

/* firefox 19+ */
:-ms-input-placeholder {
  font-weight: 300; }

/* ie */
input:-moz-placeholder {
  font-weight: 300; }

.search_box {
  position: absolute;
  top: 30px;
  width: calc(100% - 40px);
  height: 40px;
  background-color: white;
  min-width: 200px;
  opacity: 0;
  overflow: hidden;
  animation: showSearch .3s ease-out .8s forwards; }
  .search_box.isMobile {
    top: 20px;
    width: calc(100% - 40px);
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    border-radius: 2px; }
@keyframes showSearch {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .search_box > #search_text {
    position: relative;
    float: left;
    height: 20px;
    margin: 0;
    width: calc(100% - 80px);
    border: none;
    padding: 10px;
    font-size: 20px;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    overflow: hidden;
    outline: none;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent; }
    .search_box > #search_text:visted {
      outline: none;
      text-decoration: none;
      color: inherit;
      -webkit-tap-highlight-color: transparent; }
    .search_box > #search_text.isMobile {
      height: 40px;
      font-size: 20px;
      line-height: 40px;
      vertical-align: middle;
      border-radius: 2px; }
  .search_box > #hackbot_submit {
    outline: none;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    float: left;
    height: 20px;
    margin: 10px;
    padding: 0;
    width: 40px;
    background-image: url("../../img/spring2017/magnify.png");
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer; }
    .search_box > #hackbot_submit:visted {
      outline: none;
      text-decoration: none;
      color: inherit;
      -webkit-tap-highlight-color: transparent; }
    .search_box > #hackbot_submit.isMobile {
      height: 30px;
      margin: 15px 10px; }

.top_result {
  display: block;
  position: relative;
  float: left;
  clear: left;
  width: calc(100% - 400px);
  margin-top: 100px;
  opacity: 1;
  min-width: 260px; }
  .top_result.isMobile {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -100px; }
@keyframes showResult {
  0% {
    margin-top: 70px;
    opacity: 0; }
  30% {
    opacity: 0.3; }
  60% {
    opacity: 0.6; }
  80% {
    margin-top: -5px; }
  90% {
    opacity: 1; }
  100% {
    margin-top: 0px;
    opacity: 1; } }
@keyframes showMoreResult {
  0% {
    margin-top: 250px;
    opacity: 0; }
  30% {
    opacity: 0.3; }
  60% {
    opacity: 0.6; }
  80% {
    margin-top: 175px; }
  90% {
    opacity: 1; }
  100% {
    margin-top: 180px;
    opacity: 1; } }
@keyframes showMoreResultSmall {
  0% {
    margin-top: 170px;
    opacity: 0; }
  30% {
    opacity: 0.3; }
  60% {
    opacity: 0.6; }
  80% {
    margin-top: 95px; }
  90% {
    opacity: 1; }
  100% {
    margin-top: 100px;
    opacity: 1; } }
  .top_result > .label {
    color: white;
    position: relative;
    float: left;
    opacity: 0;
    margin-top: 70px;
    animation: showResult 0.5s ease-out .4s forwards;
    margin-bottom: 60px; }
    .top_result > .label.isMobile {
      margin-bottom: 20px; }
  .top_result > .none {
    position: relative;
    font-size: 0.7em;
    padding-right: 20px;
    font-weight: 300;
    color: white;
    float: left;
    clear: left; }
  .top_result > .faq {
    color: white;
    opacity: 0;
    margin-top: 70px;
    float: left;
    clear: left;
    border: solid white 1px;
    border-radius: 5px;
    padding: 20px;
    animation: showResult 0.5s ease-out .6s forwards; }
    .top_result > .faq > .title {
      font-weight: 300;
      font-size: 2em;
      margin-bottom: 20px; }
    .top_result > .faq > .content {
      font-weight: 300;
      font-size: 1.2em; }
      .top_result > .faq > .content > a {
        outline: none;
        text-decoration: none;
        color: inherit;
        -webkit-tap-highlight-color: transparent;
        color: #82ddf0; }
        .top_result > .faq > .content > a:visted {
          outline: none;
          text-decoration: none;
          color: inherit;
          -webkit-tap-highlight-color: transparent; }
  .top_result > .event {
    opacity: 0;
    color: white;
    margin-top: 70px;
    position: relative;
    float: left;
    clear: left;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    animation: showResult 0.5s ease-out .6s forwards; }
    .top_result > .event > table {
      position: relative;
      float: left;
      clear: both; }
      .top_result > .event > table tbody tr td {
        padding: 10px 20px; }
        .top_result > .event > table tbody tr td.time {
          border-right: solid 1px white;
          font-size: 1.7em;
          font-weight: 300; }
          .top_result > .event > table tbody tr td.time.isMobile {
            min-width: 153px;
            text-align: center; }

.more_results {
  display: block;
  position: relative;
  float: right;
  padding-right: 40px;
  margin-left: 20px;
  max-width: 300px;
  min-width: 200px;
  margin-top: 250px;
  opacity: 0;
  animation: showMoreResult 0.5s ease-out .7s forwards; }
  .more_results > .label {
    color: #82ddf0;
    position: relative;
    float: right;
    margin-right: 20px;
    margin-bottom: 60px; }
  .more_results > .none {
    position: relative;
    font-size: 0.7em;
    margin-right: 20px;
    font-weight: 300;
    color: white;
    float: right;
    clear: right; }
    .more_results > .none.isMobile {
      float: left;
      left: 50%;
      transform: translateX(-50%); }
  .more_results > .more_form > input[type="submit"] {
    display: none; }
  .more_results > .more_form > label > .faq {
    color: white;
    float: right;
    clear: right;
    width: calc(100% - 40px);
    padding: 10px 20px; }
    .more_results > .more_form > label > .faq > .title {
      font-weight: 300;
      font-size: 1em;
      margin-bottom: 0px;
      cursor: pointer; }
    .more_results > .more_form > label > .faq > .content {
      display: none; }
  .more_results > .more_form > label > .event {
    color: white;
    float: right;
    clear: right;
    width: calc(100% - 40px);
    padding: 10px 20px; }
    .more_results > .more_form > label > .event table {
      position: relative;
      float: right; }
      .more_results > .more_form > label > .event table.isMobile {
        float: left;
        left: 50%;
        transform: translateX(-50%); }
      .more_results > .more_form > label > .event table tbody .time {
        padding: 0px 10px;
        cursor: pointer; }
      .more_results > .more_form > label > .event table tbody .title {
        cursor: pointer; }
      .more_results > .more_form > label > .event table tbody .location {
        display: none; }
  .more_results.isMobile {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: initial;
    padding-right: initial;
    float: left;
    clear: left;
    min-width: initial;
    max-width: initial; }
    .more_results.isMobile > .label {
      margin-right: initial;
      margin-bottom: 30px;
      float: left;
      clear: left;
      width: 100%;
      text-align: center; }
    .more_results.isMobile > .more_form > label > .faq {
      width: 100%;
      padding: 10px 0px;
      text-align: center; }
    .more_results.isMobile > .more_form > * {
      outline: none;
      text-decoration: none;
      color: inherit;
      -webkit-tap-highlight-color: transparent; }
      .more_results.isMobile > .more_form > *:visted {
        outline: none;
        text-decoration: none;
        color: inherit;
        -webkit-tap-highlight-color: transparent; }

.quick_links {
  position: relative;
  float: left;
  clear: both;
  width: calc(100% - 40px);
  margin-top: 80px;
  font-weight: 300;
  opacity: 0;
  color: white;
  margin-bottom: 20px;
  animation: quickLinks 0.5s ease-out .9s forwards; }
  .quick_links > form > input[type=submit] {
    display: none; }
  .quick_links > form > label > .link {
    position: relative;
    float: left;
    clear: none;
    padding: 10px;
    border-bottom: solid 2px white;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: transparent;
    cursor: pointer; }
    .quick_links > form > label > .link:hover:not(.isMobile) {
      animation: link-color .2s ease-out 0s forwards; }
@keyframes link-color {
  from {
    color: white;
    background-color: transparent; }
  to {
    color: black;
    background-color: white; } }
  .quick_links.isMobile {
    margin-top: 120px;
    width: 100%; }
    .quick_links.isMobile > .label {
      width: 100%;
      text-align: center; }
    .quick_links.isMobile > form > label > .link {
      clear: both;
      left: 50%;
      transform: translateX(-50%);
      margin-left: initial;
      -webkit-user-select: none;
      /* Chrome/Safari */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* IE10+ */
      /* Rules below not implemented in browsers yet */
      -o-user-select: none;
      user-select: none;
      cursor: default;
      outline: none;
      text-decoration: none;
      color: inherit;
      -webkit-tap-highlight-color: transparent;
      cursor: pointer;
      color: white;
      text-align: center; }
      .quick_links.isMobile > form > label > .link:visted {
        outline: none;
        text-decoration: none;
        color: inherit;
        -webkit-tap-highlight-color: transparent; }
  .quick_links.bottom:not(.isMobile) {
    position: absolute;
    bottom: 0;
    float: initial;
    clear: initial; }
@keyframes quickLinks {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .quick_links > .label {
    font-weight: 400;
    font-size: 1.5em;
    color: #82ddf0;
    margin-bottom: 20px; }

@media (max-width: 627px) {
  .top_result:not(.isMobile) {
    width: calc(100% - 40px); }
    .top_result:not(.isMobile) > .label {
      width: 100%;
      text-align: center; }

  .more_results:not(.isMobile) {
    width: calc(100% - 40px);
    max-width: initial;
    min-width: initial;
    float: left;
    clear: left;
    padding: initial;
    margin: initial;
    margin-bottom: 40px;
    margin-top: 170px;
    animation: showMoreResultSmall 0.5s ease-out .7s forwards; }
    .more_results:not(.isMobile) > .none {
      float: left;
      left: 50%;
      transform: translateX(-50%); }
    .more_results:not(.isMobile) > .label {
      float: left;
      clear: left;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
      margin-right: initial; }
    .more_results:not(.isMobile) > .faq {
      padding: 10px 0px; }
      .more_results:not(.isMobile) > .faq > .title {
        float: left;
        clear: left;
        width: 100%;
        text-align: center; } }
@media (max-height: 525px) {
  .quick_links.bottom:not(.isMobile) {
    position: relative;
    float: left;
    margin-top: 20px; } }

/*# sourceMappingURL=hackbot.css.map */
