@import 'variables';

html{
	opacity: 0;
	&.isMobile{
		height: 100%;
	}

	@keyframes htmlLoad{
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
	animation: htmlLoad .2s ease-out 1.1s forwards;
}

.register{

	//{ ** INCLUDES
		@include noDecoration();
		@include notSelectable();
	//} ** END INCLUDES
			
	//{ ** ATTRIBUTES
		cursor: pointer;
		position: absolute;
		float: left;
		top: 40px;
		font-weight: 300;
		left: 50%;
		transform: translateX(-50%);
		color: white;

	//} ** END ATTRIBUTES
	
}

.full_form{
	float: right;
}

#mlh{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 999;
	height: 100px;
}

.fixed_bar{
	position: fixed;
	bottom: 0;
	width: 100vw;
	min-height: 10px;
	z-index: 9;
	background-color: $color-black;

	&.isMobile{
		min-height: 10px;
	}
	>tbody{
		tr{
			td{
				height: 100%;
			}
			.blue{
				background-color: $color-blue-dark;
			}

			.red{
				background-color: $color-red;
			}
		}
	}
}

body{

	//{ ** ATTRIBUTES
		background-color: $color-black;
		margin: 0;
		height: auto;
		width: auto;
	//} ** END ATTRIBUTES
	&.isMobile{
		// height: 100vh;
		// overflow-y: auto;

		//{ ** INCLUDES
			// @include freezeHeight();
		//} ** END INCLUDES
		
	}
}

*{
	position: relative;
	z-index: 1;
}

input[type=checkbox] {
	// position: absolute;
	// top: -9999px;
	// left: -9999px;
   position: relative;
   float: left;
   display: none;
   // visibility: hidden;
}
input[type=radio] {
	// position: absolute;
	// top: -9999px;
	// left: -9999px;
   position: relative;
   float: left;
   // visibility: hidden;
   display: none;
}

label{
	z-index: 999999;
}


#hackbot_search{

	position: fixed;
	z-index: 0;
	visibility: hidden;
	opacity: 0;
	
	overflow-y: hidden;
	&.isIOS{
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		/////////////////////////////////////////// bug fix ///////////////////////////////////////////
		display: none;
		/////////////////////////////////////////// bug fix ///////////////////////////////////////////
		
		
		
		
	}
	
	// background-color: black;

	>iframe{
		height: 100%;
		width: 100%;
		border: none;
	}

	&:not(.isMobile){
		width: calc(100vw - 500px);
		left: 100px;
		height: 100vh;
	}
	&.isMobile{
		width: 100%;
		top: 0;
		left: 0;
		border-bottom: solid 1px white;
		// height: calc(100vh - 150px);
		height: calc(100% - 150px);
		
	}
	
}


.hackbot{

	//{ ** ATTRIBUTES
		width: calc(100vw - 400px);
		background-color: black;
		min-height: 100vh;
		height: auto;
		position: fixed;
		z-index: 0;
		left: 0;
	//} ** END ATTRIBUTES

	>.hackbot_search{
		position: relative;
		float: left;
	}

	/////////////////////////////////////////// bug fix ///////////////////////////////////////////
	
	.ios{
		display: none;
	}
	
	&.isIOS{
		// display: none;
		.ios{
			display: block;
			width: calc(100% - 40px);
			height: auto;
			position: relative;
			float: left;
			padding: 20px;
			color: white;
			text-align: center;
		}
		
		// margin-top: 40px;
		// padding: 20px;
	}

	/////////////////////////////////////////// bug fix ///////////////////////////////////////////
	
	

	>.nav-links.isMobile{

		//{ ** ATTRIBUTES
			bottom: 20px;
			right: 20px;
			position: fixed;
			max-width: calc(107px * 2);
		//} ** END ATTRIBUTES
		
		>.modified-link, >noscript>.modified-link{

			//{ ** ATTRIBUTES
				float: left;
				width: auto;
				height: auto;
				// clear: bot
				text-align: center;
			//} ** END ATTRIBUTES

			//{ ** INCLUDES
				@include noDecoration();
			//} ** END INCLUDES
			
			>label>.link, >.link{
				color: white;
				font-weight: 300;
				font-size: 1em;
				padding: 10px;
				width: 63px;
				margin: 5px 10px;
				float: left;
				border-color: white;
				border-radius: 5px;
				border-style: solid;
				border-width: 2px;
			}
			>label>.link{
				display: none;
			}
		}
	}
	>.nav-links:not(.isMobile){
		display: none;
	}

	&.isMobile{
		width: 100vw;
		min-height: 100%;
	}
	
}


#navigator:checked ~ label > div.navigator{

	//{ ** DESCRIPTION
		/**
			The navigator is open at this moment. The animation below
			changes the open square into a closed 'X'
		**/
	//} ** END DESCRIPTION
	
	>.darken{
		@keyframes darken-close{
			from{
				opacity: 1;
			}
			to{
				opacity: 0;
			}
		}
		animation: darken-close .2s ease-out 0s forwards;
	}
	
	>.element:not(.isMobile){
		&.e1{

			@include rotate(0);

			@keyframes e1-close{
				from{
					top: 0px;
					@include rotate(0);
				}
				to{
					top: 29px;
					@include rotate(45);
				}
			}
			animation: e1-close .2s ease-out 0s forwards;
		}
		&.e2{

			@include rotate(90);

			@keyframes e2-close{
				from{
					left: -20px;
					@include rotate(90);
				}
				to{
					left: 10px;
					@include rotate(135);
				}
			}
			animation: e2-close .2s ease-out .05s forwards;
		}
		&.e3{

			@include rotate(90);

			@keyframes e3-close{
				from{
					right: -20px;
					@include rotate(90);
				}
				to{
					right: 10px;
					@include rotate(135);
				}
			}
			animation: e3-close .2s ease-out .1s forwards;
		}
		&.e4{

			@include rotate(0);

			@keyframes e4-close{
				from{
					bottom: 0px;
					@include rotate(0);
				}
				to{
					bottom: 29px;
					@include rotate(45);
				}
			}
			animation: e4-close .2s ease-out .15s forwards;
		}
	}

	>.element.isMobile{
		&.e1{

			@include rotate(0);

			@keyframes e1-close-m{
				from{
					top: 10px;
					@include rotate(0);
				}
				to{
					top: 29px;
					@include rotate(45);
				}
			}
			animation: e1-close-m .2s ease-out 0s forwards;
		}
		&.e2{

			@include rotate(90);

			@keyframes e2-close-m{
				from{
					left: -10px;
					@include rotate(90);
				}
				to{
					left: 10px;
					@include rotate(135);
				}
			}
			animation: e2-close-m .2s ease-out .05s forwards;
		}
		&.e3{

			@include rotate(90);

			@keyframes e3-close-m{
				from{
					right: -10px;
					@include rotate(90);
				}
				to{
					right: 10px;
					@include rotate(135);
				}
			}
			animation: e3-close-m .2s ease-out .1s forwards;
		}
		&.e4{

			@include rotate(0);

			@keyframes e4-close-m{
				from{
					bottom: 10px;
					@include rotate(0);
				}
				to{
					bottom: 29px;
					@include rotate(45);
				}
			}
			animation: e4-close-m .2s ease-out .15s forwards;
		}
	}

	&:hover{
		>.element{
			// background-color: red;
		}
	}
}

#navigator:checked ~ section.page{
			
	//{ ** ATTRIBUTES
		width: 400px;
		height: 100vh;
		overflow: hidden;
	//} ** END ATTRIBUTES
	
	&.isMobile{
		width: 0px;
		height: 100%;
	}

	>.welcome{
		>.container:not(.isMobile){
			// top: 30%;
			>.nav-links:not(.isMobile){
				>.modified-link{

					//{ ** ATTRIBUTES
						clear: both;
						left: 50%;
						transform: translateX(-50%);
					//} ** END ATTRIBUTES
					>.link{
						width: 70px;
						max-width: 70px;
					}
				}
			}
			>.nav-links.isMobile{
				>.modified-link{
					display: none;
				}
			}
		}
		
	}
}

#navigator:not(:checked) ~ label > div.navigator{

	>.darken{
		@keyframes darken-start{
			from{
				opacity: 0;
			}
			to{
				opacity: 1;
			}
		}
		animation: darken-start .4s ease-out .6s forwards;
	}

	>.element:not(.isMobile){
		&.e1{
			@keyframes e1-start{
				from{
					top: 0px;
				}
				to{
					top: 10px;
				}
			}
			animation: e1-start .1s ease-out .2s forwards;

			top: 0px;
			transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
		}
		&.e2{
			@keyframes e2-start{
				from{
					left: -20px;
				}
				to{
					left: -10px;
				}
			}
			animation: e2-start .1s ease-out .2s forwards;

			transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);
		}
		&.e3{
			@keyframes e3-start{
				from{
					right: -20px;
				}
				to{
					right: -10px;
				}
			}
			animation: e3-start .1s ease-out .2s forwards;

			transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);
		}
		&.e4{
			@keyframes e4-start{
				from{
					bottom: 0px;
				}
				to{
					bottom: 10px;
				}
			}
			animation: e4-start .1s ease-out .2s forwards;

			transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
		}
	}

	>.element.isMobile{
		&.e1{
			@keyframes e1-start-m{
				from{
					top: 29px;
					transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
				}
				to{
					top: 10px;
					transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
				}
			}
			animation: e1-start-m .2s ease-out .2s forwards;

			top: 29px;
			transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
		}
		&.e2{
			@keyframes e2-start-m{
				from{
					left: 10px;
					transform: rotate(135deg);
					-ms-transform: rotate(135deg);
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
				}
				to{
					left: -10px;
					transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-o-transform: rotate(90deg);
				}
			}
			animation: e2-start-m .2s ease-out .65s forwards;

			left: 10px;
			transform: rotate(135deg);
			-ms-transform: rotate(135deg);
			-webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			-o-transform: rotate(135deg);
		}
		&.e3{
			@keyframes e3-start-m{
				from{
					right: 10px;
					transform: rotate(135deg);
					-ms-transform: rotate(135deg);
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
				}
				to{
					right: -10px;
					transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-o-transform: rotate(90deg);
				}
			}
			animation: e3-start-m .2s ease-out .35s forwards;

			right: 10px;
			transform: rotate(135deg);
			-ms-transform: rotate(135deg);
			-webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			-o-transform: rotate(135deg);
		}
		&.e4{
			@keyframes e4-start-m{
				from{
					bottom: 29px;
					transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
				}
				to{
					bottom: 10px;
					transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
				}
			}
			animation: e4-start-m .2s ease-out .5s forwards;

			bottom: 29px;
			transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
		}
	}

	&:hover{
		>.element:not(.isMobile){
			&.e1{
				@keyframes e1-hover{
					from{
						top: 10px;
					}
					to{
						top: 0px;
					}
				}
				animation: e1-hover .1s ease-out 0s forwards;
			}
			&.e2{
				@keyframes e2-hover{
					from{
						left: -10px;
					}
					to{
						left: -20px;
					}
				}
				animation: e2-hover .1s ease-out 0s forwards;
			}
			&.e3{
				@keyframes e3-hover{
					from{
						right: -10px;
					}
					to{
						right: -20px;
					}
				}
				animation: e3-hover .1s ease-out 0s forwards;
			}
			&.e4{
				@keyframes e4-hover{
					from{
						bottom: 10px;
					}
					to{
						bottom: 0px;
					}
				}
				animation: e4-hover .1s ease-out 0s forwards;
			}
		}
	}

}

.searchAnything{
	position: fixed;
	left: 90px;
	top: 20px;
	// width: 60px;
	height: 60px;
	cursor: pointer;
	z-index: 9999999;
	// opacity: 0;
	font-weight: 300;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	font-size: 1em;
	color: white;

	//{ ** INCLUDES
		@include quickTransition(all);
	//} ** END INCLUDES
	
	&:not(.isMobile){
		left: 110px;
	}

	&.isMobile{
		//{ ** ATTRIBUTES
			top: initial;
			bottom: 20px;
		//} ** END ATTRIBUTES
		

		//{ ** INCLUDES
			@include noDecoration();
		//} ** END INCLUDES
		color: white;
	}
}

.navigator{

	//{ ** ATTRIBUTES
		position: fixed;
		left: 20px;
		top: 20px;
		width: 60px;
		height: 60px;
		cursor: pointer;
		z-index: 9999999;

	//} ** END ATTRIBUTES
	>.darken{
		background-color: rgba(0,0,0,0.7);
		z-index: 1;
		opacity: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		height: 40px;
		width: 40px;
		transform: translate(-50%, -50%);
	}
	>.element:not(.isMobile){
		position: absolute;
		width: 40px;
		height: 2px;
		background-color: white;
		z-index: 2;

		&.e1{
			
			top: 0px;
			left: 10px;
		}
		&.e2{

			left: -20px;
			top: 29px;
		}
		&.e3{

			right: -20px;
			top: 29px;

		}
		&.e4{

			bottom: 0px;
			left: 10px;
			
		}
	}
	>.element.isMobile{
		position: absolute;
		width: 40px;
		height: 2px;
		background-color: white;

		&.e1{
			
			top: 10px;
			left: 10px;
		}
		&.e2{

			left: -10px;
			top: 29px;
		}
		&.e3{

			right: -10px;
			top: 29px;

		}
		&.e4{

			bottom: 10px;
			left: 10px;
			
		}
	}
	&.isMobile{


		//{ ** ATTRIBUTES
			top: initial;
			bottom: 20px;
		//} ** END ATTRIBUTES
		

		//{ ** INCLUDES
			@include noDecoration();
		//} ** END INCLUDES
		cursor: pointer;
		
	}
}

.page{

	//{ ** ATTRIBUTES
		float: right;
		clear: none;
		min-height: 100vh;
		height: auto;
		width: 100%;
		background-color: $color-black;   
	//} ** END ATTRIBUTES

	//{ ** INCLUDES
		@include quickTransition(width);
	//} ** END INCLUDES	

	&.isMobile{
		height: 100%;
	}

	@mixin page-properties-default(){
				
		//{ ** INCLUDES
			@include fullHeight();
		//} ** END INCLUDES
		width: 100%;
		overflow-x: hidden;
		float: left;
		margin-bottom: 40vh;
		&.isMobile{
			margin-bottom: 10%;
		}

	}

	@mixin page-title-default(){
		//{ ** INCLUDES
			@include notSelectable();
		//} ** END INCLUDES
		
		font-size: 2em;
		left: 50%;
		transform: translateX(-50%);

		color: white;
		font-weight: 300;
		float: left;
		margin-top: 10vh;
		margin-bottom: 30vh;
		&.isMobile{
			font-size: 1.5em;
			margin-bottom: 20vh;
		}
	}

	&.hackbot-open{
		height: 100vh;
		overflow: hidden;
		&.isMobile{
			height: 100%;
		}
	}

	>.welcome{


		//{ ** INCLUDES
			@include page-properties-default();
		//} ** END INCLUDES
		

		>.container{
					
			//{ ** ATTRIBUTES
				float: left;
				position: absolute;
				height: auto;
				width: auto;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			//} ** END ATTRIBUTES


			//{ ** INCLUDES
				@include quickTransition(top);
			//} ** END INCLUDES
			
			&.isMobile{
				top: 40%;
			}


			>*{
				float: left;
				clear: left;
				left: 50%;
				transform: translateX(-50%);
			}

			>.nav-links:not(.isMobile){

				//{ ** ATTRIBUTES
					position: relative;
					// bottom: 80px;
					clear: both;
					float: left;
					margin-top: 60px;
					left: 50%;
					transform: translateX(-50%);
				//} ** END ATTRIBUTES
				
				>.modified-link:not(.isMobile){

					//{ ** ATTRIBUTES
						float: left;
						width: auto;
						height: auto;
						text-align: center;
						bottom: -10px;
						opacity: 0;
						
					//} ** END ATTRIBUTES
					

					//{ ** INCLUDES
						@include noDecoration();
						@include quickTransition(all);
					//} ** END INCLUDES
					&.schedule:not(.isMobile){
						@keyframes schedule-start{
							from{
								bottom: -10px;
								opacity: 0;
							}
							to{
								bottom: 0px;
								opacity: 1;
							}
						}
						animation: schedule-start .4s ease-out .2s forwards;
					}
					&.faq:not(.isMobile){
						@keyframes faq-start{
							from{
								bottom: -10px;
								opacity: 0;
							}
							to{
								bottom: 0px;
								opacity: 1;
							}
						}
						animation: faq-start .4s ease-out .2s forwards;
					}
					&.sponsors:not(.isMobile){
						@keyframes sponsors-start{
							from{
								bottom: -10px;
								opacity: 0;
							}
							to{
								bottom: 0px;
								opacity: 1;
							}
						}
						animation: sponsors-start .4s ease-out .2s forwards;
					}
					>.link{

						//{ ** ATTRIBUTES
							color: white;
							font-weight: 300;
							font-size: 1em;
							padding:  10px 20px;
							margin: 10px;
							float: left;
							border-color: white;
							border-radius: 5px;
							border-style: solid;
							border-width: 2px; 
							// opacity: 0;  
						//} ** END ATTRIBUTES
						   
					}

					&:hover{
						// >.link{
							@keyframes link-highlight{
								from{
									background-color: initial;
									color: white;
								}
								to{
									background-color: white;
									color: black;
								}
							}
							span{
								animation: link-highlight .2s ease-out 0s forwards;
							}
						// }
					}
					
				}
			}
			>.nav-links.isMobile{
				display: none;
			}

			>.logo{

				opacity: 0;
				margin-top: 20px;

				@keyframes logo{
					from{
						margin-top: 20px;
						opacity: 0;
					}
					to{
						margin-top: 0px;
						opacity: 1;
					}
				}

				animation: logo .5s ease-out .4s forwards;

				//{ ** ATTRIBUTES
					width: 20vw;
					height: 20vw;
					max-width: 218px;
					max-height: 218px;
					min-width: 115px;
					min-height: 115px;
					background-image: url('../../img/spring2017/logo-noText-trans.png');
					background-size: contain;
					background-repeat: no-repeat;
					
					
					
				//} ** END ATTRIBUTES
				
			}
			>.title{

				opacity: 0;

				@keyframes title{
					from{
						opacity: 0;
					}
					to{
						opacity: 1;
					}
				}

				animation: title .4s ease-out .9s forwards;
				//{ ** ATTRIBUTES
					padding-top: 30px;
					font-size: 2em;
					color: white;
					font-weight: 300;
				//} ** END ATTRIBUTES
				
			}

			>.date{
				opacity: 0;

				@keyframes title{
					from{
						opacity: 0;
					}
					to{
						opacity: 1;
					}
				}

				animation: title .5s ease-out 0.9s forwards;

				//{ ** ATTRIBUTES
					color: white;
					font-size: 1em;
					font-weight: 300;
				//} ** END ATTRIBUTES
				
			}
		}
		
	}
	>.schedule{

				
		//{ ** INCLUDES
			@include page-properties-default();
		//} ** END INCLUDES

		>.upcoming{

			//{ ** INCLUDES
				@include page-title-default();
			//} ** END INCLUDES

			&:not(.isMobile), &.isMobile{
				//{ ** ATTRIBUTES
					margin-bottom: 40px;
				//} ** END ATTRIBUTES
			}
			
			
		}
		>.upcoming_container{

			//{ ** ATTRIBUTES
				position: relative;
				float: left;
				clear: both;
				left: 50%;
				transform: translateX(-50%);
			//} ** END ATTRIBUTES

			&:not(.isMobile){
				margin-bottom: 10vh;
			}

			&.isMobile{
				margin-bottom: 80px;
			}
			
			>table{
				>tbody{
					tr{
						td{
							padding: 10px 20px;

							&.time{
								text-align: right;
								border-right: solid 1px white;
								min-width: 70px;
							}
						}
					}
				}
			}
		}

		>.food_container{

			//{ ** ATTRIBUTES
				position: relative;
				float: left;
				clear: left;
				left: 10vw;
				max-width: 40vw;
			//} ** END ATTRIBUTES
			
			&.isMobile{
				max-width: 80vw;
				left: 50%;
				transform: translateX(-50%);
				float: left;
				clear: both;
				margin-bottom: 80px;
			}

			>.food{
				font-size: 1.5em;
				color: white;
				font-weight: 300;
				position: relative;
				float: left;
				left: 50%;
				transform: translateX(-50%);
				margin-bottom: 40px;
			}

			>.food_schedule{
				>.events{
					>table{
						position: relative;
						float: left;
						clear: both;
						padding: 20px;
						background-color: $color-blue-dark;
						border-radius: 2px;

						//{ ** INCLUDES
							@include relativeMiddle();
							@include card();
						//} ** END INCLUDES

						>*{
							@include notSelectable();
						}
						
						>tbody{
							tr{
								th{
									text-align: right;
									color: white;
									font-weight: 300;
									font-size: 0.8em;
								}
								td{
									padding: 10px 20px;
									color: white;
									
									&.time{
										text-align: right;
										border-right: solid 1px white;
										min-width: 70px;
									}
								}
							}
						}
					}
				}
			}
		}

		>.featured_container{
			position: relative;
			float: right;
			clear: none;
			right: 10vw;
			max-width: 40vw;

			&.isMobile{
				max-width: 80vw;
				left: 50%;
				transform: translateX(-50%);
				float: left;
				clear: both;
			}



			>.featured{
				font-size: 1.5em;
				color: white;
				font-weight: 300;
				position: relative;
				float: left;
				left: 50%;
				transform: translateX(-50%);
				margin-bottom: 40px;
			}

			>.featured_schedule{
				>.events{
					>table{
						position: relative;
						float: left;
						clear: both;
						padding: 20px;
						background-color: $color-red;
						border-radius: 2px;

						//{ ** INCLUDES
							@include relativeMiddle();
							@include card();
						//} ** END INCLUDES

						>*{
							@include notSelectable();
						}
						
						>tbody{
							tr{
								th{
									text-align: right;
									color: white;
									font-weight: 300;
									font-size: 0.8em;
								}
								td{
									padding: 10px 20px;
									color: white;
									
									&.time{
										text-align: right;
										border-right: solid 1px white;
										min-width: 70px;
									}
								}
							}
						}
					}
				}
			}
		}

		>.all_container{
			width: 90vw;
			overflow-x: auto;
			position: relative;
			float: left;
			clear: both;
			margin-top: 80px;


			//{ ** INCLUDES
				@include relativeMiddle();
			//} ** END INCLUDES
			
			&:not(.isMobile){
				.all_events{
					.day{
						max-width: 33%;
					}
				}
			}
			>.all_title{
				font-weight: 300;
				font-size: 2em;
				color: white;

				//{ ** INCLUDES
					@include relativeMiddle();
				//} ** END INCLUDES
				
			}

			>.all_events{
					position: relative;
					float: left;
					clear: both;
					margin-top: 40px;
					// min-width: 1400px;

					//{ ** INCLUDES
						@include relativeMiddle();
					//} ** END INCLUDES
					
				>.day{
					position: relative;
					float: left;
					clear:none;
					
					>table{
						position: relative;
						float: left;
						clear: none;
						padding: 20px;
						>tbody{
							tr{
								th{
									font-weight: 300;
									font-size: 0.8em;
									text-align: center;
									color: white;
									padding-bottom: 40px;
								}
								td{
									padding: 10px 20px;
									color: white;

									&.time{
										text-align: right;
										// border-right: solid 1px white;
										min-width: 70px;
										border-right: solid 2px white;
										&.white{
											border-right-color: white;
										}
										&.blue{
											border-right-color: $color-blue-dark;
										}
										&.red{
											border-right-color: $color-red;
										}
									}

									&.title{
										font-weight: 300;
										font-size: 1.2em;
									}

									&.description{
										font-size: 0.9em;
									}

									&.location{
										font-size: 0.7em;
									}
								}
							}
						}
					}
				}

			}
		}
		
		
	}

	>.faq{



		&:not(.isMobile){
			min-width: 770px;
		}

		//{ ** INCLUDES
			@include page-properties-default();
		//} ** END INCLUDES
		>.faq-title{

					
			//{ ** INCLUDES
				@include page-title-default();
			//} ** END INCLUDES
			z-index: 10;

		}

		.half{
			position: absolute;
			bottom: 0;
			height: 100%;
			width: 100%;
			tbody{
				tr{
					td{

					}
					.blue{
						border-left: solid 20px $color-blue-dark;
						border-top: solid 20px $color-blue-dark;
						// border-bottom: solid 20px $color-blue-dark;
					}

					.red{
						border-right: solid 20px $color-red;
						border-top: solid 20px $color-red;
						// border-bottom: solid 20px $color-red;
					}
				}
			}
		}


		>table:not(.half){
			position: relative;
			float: left;
			clear: both;
			padding: 20px;
			left: 50%;
			transform: translateX(-50%);
			tbody{
				tr{
					td{
						width: 355px;
						color: white;
						text-align: center;
						padding: 40px;

						&.isMobile{
							padding: 20px;
						}
						div{
							position: relative;
							float: left;
							width: calc(100% - 40px);
							height: 100%;
							background-color: transparent;
							color: white;
							border: solid 1px white;
							border-radius: 5px;
							padding: 20px;

							&.blue{
								// border-bottom: solid 4px $color-blue-dark;
							}

							&.red{
								// border-bottom: solid 4px $color-red;
							}

							//{ ** INCLUDES
								@include notSelectable();
								// @include card();
							//} ** END INCLUDES

							cursor: pointer;

							&.isMobile{

								//{ ** INCLUDES
									@include noDecoration();
								//} ** END INCLUDES
								
							}

							&:not(.isMobile):hover{
								background: white;
								color: black;
							}
							
						}
					}
				}
			}
		}
	}

	>.sponsors{

		//{ ** INCLUDES
			@include page-properties-default();
		//} ** END INCLUDES

		>.sponsors-title{

			//{ ** INCLUDES
				@include page-title-default();
			//} ** END INCLUDES
			
		}
		>.sponsors-img{
			position: relative;
			float: left;
			clear: both;
			width: 100%;
			height: 100vh;
			background-image: url("../../img/spring2017/sponsors.png");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;

			//{ ** INCLUDES
				@include freezeHeight();
			//} ** END INCLUDES
			
		}
		
	}

	>.explore{

		//{ ** INCLUDES
			@include page-properties-default();
		//} ** END INCLUDES
		>.explore-title{
			//{ ** INCLUDES
				@include page-title-default();
			//} ** END INCLUDES
		}
	}
}

/////////////////////////////////////////// mobile fallback ///////////////////////////////////////////


@media (max-width: 830px){
	.page>.schedule{
		.upcoming_container{
			margin-bottom: 80px;
		}
		.food_container{
			max-width: 80vw;
			left: 50%;
			transform: translateX(-50%);
			float: left;
			clear: both;
			margin-bottom: 80px;
		}
		.featured_container{
			max-width: 80vw;
			left: 50%;
			transform: translateX(-50%);
			float: left;
			clear: both;
		}

	}
}

