@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,900");
* {
  font-family: "Lato", sans-serif; }

body {
  background-color: #161616;
  margin: 0;
  height: auto;
  width: auto; }

* {
  position: relative;
  z-index: 1; }

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px; }

label {
  z-index: 999999; }

.hackbot {
  width: calc(100vw - 400px);
  background-color: black;
  min-height: 100vh;
  height: auto;
  position: fixed;
  z-index: 0; }
  .hackbot > .nav-links.isMobile {
    bottom: 20px;
    right: 20px;
    position: absolute;
    max-width: calc(107px * 2); }
    .hackbot > .nav-links.isMobile > .modified-link, .hackbot > .nav-links.isMobile > noscript > .modified-link {
      float: left;
      width: auto;
      height: auto;
      text-align: center;
      outline: none;
      text-decoration: none;
      color: inherit;
      -webkit-tap-highlight-color: transparent; }
      .hackbot > .nav-links.isMobile > .modified-link:visted, .hackbot > .nav-links.isMobile > noscript > .modified-link:visted {
        outline: none;
        text-decoration: none;
        color: inherit;
        -webkit-tap-highlight-color: transparent; }
      .hackbot > .nav-links.isMobile > .modified-link > label > .link, .hackbot > .nav-links.isMobile > .modified-link > .link, .hackbot > .nav-links.isMobile > noscript > .modified-link > label > .link, .hackbot > .nav-links.isMobile > noscript > .modified-link > .link {
        color: white;
        font-weight: 300;
        font-size: 1em;
        padding: 10px;
        width: 63px;
        margin: 5px 10px;
        float: left;
        border-color: white;
        border-radius: 5px;
        border-style: solid;
        border-width: 2px; }
      .hackbot > .nav-links.isMobile > .modified-link > label > .link, .hackbot > .nav-links.isMobile > noscript > .modified-link > label > .link {
        display: none; }
  .hackbot > .nav-links:not(.isMobile) {
    display: none; }
  .hackbot.isMobile {
    width: 100vw; }

#navigator:checked ~ label > div.navigator {
  /**
  	The navigator is open at this moment. The animation below
  	changes the open square into a closed 'X'
  **/ }
  #navigator:checked ~ label > div.navigator > .element:not(.isMobile).e1 {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    animation: e1-close .2s ease-out 0s forwards; }
@keyframes e1-close {
  from {
    top: 0px;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  to {
    top: 29px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg); } }
  #navigator:checked ~ label > div.navigator > .element:not(.isMobile).e2 {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    animation: e2-close .2s ease-out .05s forwards; }
@keyframes e2-close {
  from {
    left: -20px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg); }
  to {
    left: 10px;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg); } }
  #navigator:checked ~ label > div.navigator > .element:not(.isMobile).e3 {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    animation: e3-close .2s ease-out .1s forwards; }
@keyframes e3-close {
  from {
    right: -20px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg); }
  to {
    right: 10px;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg); } }
  #navigator:checked ~ label > div.navigator > .element:not(.isMobile).e4 {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    animation: e4-close .2s ease-out .15s forwards; }
@keyframes e4-close {
  from {
    bottom: 0px;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  to {
    bottom: 29px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg); } }
  #navigator:checked ~ label > div.navigator > .element.isMobile.e1 {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    animation: e1-close-m .2s ease-out 0s forwards; }
@keyframes e1-close-m {
  from {
    top: 10px;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  to {
    top: 29px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg); } }
  #navigator:checked ~ label > div.navigator > .element.isMobile.e2 {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    animation: e2-close-m .2s ease-out .05s forwards; }
@keyframes e2-close-m {
  from {
    left: -10px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg); }
  to {
    left: 10px;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg); } }
  #navigator:checked ~ label > div.navigator > .element.isMobile.e3 {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    animation: e3-close-m .2s ease-out .1s forwards; }
@keyframes e3-close-m {
  from {
    right: -10px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg); }
  to {
    right: 10px;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg); } }
  #navigator:checked ~ label > div.navigator > .element.isMobile.e4 {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    animation: e4-close-m .2s ease-out .15s forwards; }
@keyframes e4-close-m {
  from {
    bottom: 10px;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  to {
    bottom: 29px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg); } }
#navigator:checked ~ section.page {
  width: 400px; }
  #navigator:checked ~ section.page.isMobile {
    width: 0px; }
  #navigator:checked ~ section.page > .welcome > .container:not(.isMobile) {
    top: 30%; }
  #navigator:checked ~ section.page > .welcome > .nav-links:not(.isMobile) > .modified-link {
    clear: both;
    left: 50%;
    transform: translateX(-50%); }
    #navigator:checked ~ section.page > .welcome > .nav-links:not(.isMobile) > .modified-link > .link {
      width: 70px;
      max-width: 70px; }

#navigator:not(:checked) ~ label > div.navigator > .element:not(.isMobile).e1 {
  animation: e1-start .1s ease-out .2s forwards;
  top: 0px;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg); }
@keyframes e1-start {
  from {
    top: 0px; }
  to {
    top: 10px; } }
#navigator:not(:checked) ~ label > div.navigator > .element:not(.isMobile).e2 {
  animation: e2-start .1s ease-out .2s forwards;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg); }
@keyframes e2-start {
  from {
    left: -20px; }
  to {
    left: -10px; } }
#navigator:not(:checked) ~ label > div.navigator > .element:not(.isMobile).e3 {
  animation: e3-start .1s ease-out .2s forwards;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg); }
@keyframes e3-start {
  from {
    right: -20px; }
  to {
    right: -10px; } }
#navigator:not(:checked) ~ label > div.navigator > .element:not(.isMobile).e4 {
  animation: e4-start .1s ease-out .2s forwards;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg); }
@keyframes e4-start {
  from {
    bottom: 0px; }
  to {
    bottom: 10px; } }
#navigator:not(:checked) ~ label > div.navigator > .element.isMobile.e1 {
  animation: e1-start-m .2s ease-out .2s forwards;
  top: 29px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg); }
@keyframes e1-start-m {
  from {
    top: 29px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg); }
  to {
    top: 10px;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg); } }
#navigator:not(:checked) ~ label > div.navigator > .element.isMobile.e2 {
  animation: e2-start-m .2s ease-out .65s forwards;
  left: 10px;
  transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg); }
@keyframes e2-start-m {
  from {
    left: 10px;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg); }
  to {
    left: -10px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg); } }
#navigator:not(:checked) ~ label > div.navigator > .element.isMobile.e3 {
  animation: e3-start-m .2s ease-out .35s forwards;
  right: 10px;
  transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg); }
@keyframes e3-start-m {
  from {
    right: 10px;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg); }
  to {
    right: -10px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg); } }
#navigator:not(:checked) ~ label > div.navigator > .element.isMobile.e4 {
  animation: e4-start-m .2s ease-out .5s forwards;
  bottom: 29px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg); }
@keyframes e4-start-m {
  from {
    bottom: 29px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg); }
  to {
    bottom: 10px;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg); } }
#navigator:not(:checked) ~ label > div.navigator:hover > .element:not(.isMobile).e1 {
  animation: e1-hover .1s ease-out 0s forwards; }
@keyframes e1-hover {
  from {
    top: 10px; }
  to {
    top: 0px; } }
#navigator:not(:checked) ~ label > div.navigator:hover > .element:not(.isMobile).e2 {
  animation: e2-hover .1s ease-out 0s forwards; }
@keyframes e2-hover {
  from {
    left: -10px; }
  to {
    left: -20px; } }
#navigator:not(:checked) ~ label > div.navigator:hover > .element:not(.isMobile).e3 {
  animation: e3-hover .1s ease-out 0s forwards; }
@keyframes e3-hover {
  from {
    right: -10px; }
  to {
    right: -20px; } }
#navigator:not(:checked) ~ label > div.navigator:hover > .element:not(.isMobile).e4 {
  animation: e4-hover .1s ease-out 0s forwards; }
@keyframes e4-hover {
  from {
    bottom: 10px; }
  to {
    bottom: 0px; } }
.navigator {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 9999999; }
  .navigator > .element:not(.isMobile) {
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: white; }
    .navigator > .element:not(.isMobile).e1 {
      top: 0px;
      left: 10px; }
    .navigator > .element:not(.isMobile).e2 {
      left: -20px;
      top: 29px; }
    .navigator > .element:not(.isMobile).e3 {
      right: -20px;
      top: 29px; }
    .navigator > .element:not(.isMobile).e4 {
      bottom: 0px;
      left: 10px; }
  .navigator > .element.isMobile {
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: white; }
    .navigator > .element.isMobile.e1 {
      top: 10px;
      left: 10px; }
    .navigator > .element.isMobile.e2 {
      left: -10px;
      top: 29px; }
    .navigator > .element.isMobile.e3 {
      right: -10px;
      top: 29px; }
    .navigator > .element.isMobile.e4 {
      bottom: 10px;
      left: 10px; }
  .navigator.isMobile {
    top: initial;
    bottom: 20px;
    outline: none;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent; }
    .navigator.isMobile:visted {
      outline: none;
      text-decoration: none;
      color: inherit;
      -webkit-tap-highlight-color: transparent; }

.page {
  float: right;
  clear: none;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background-color: #161616;
  -moz-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  -ms-transition: width 0.2s ease;
  transition: width 0.2s ease; }
  .page.hackbot-open {
    height: 100vh;
    overflow: hidden; }
  .page > .welcome {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    float: left; }
    .page > .welcome.isMobile {
      height: calc(100vh + 60px);
      -moz-transition: height 999999999999s ease-in !important;
      -o-transition: height 999999999999s ease-in !important;
      -webkit-transition: height 999999999999s ease-in !important;
      transition: height 999999999999s ease-in !important;
      -ms-transition: height 999999999999s ease-in !important; }
    .page > .welcome:not(.isMobile) {
      margin-bottom: 50vh; }
    .page > .welcome > .container {
      float: left;
      height: auto;
      width: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -moz-transition: top 0.2s ease;
      -o-transition: top 0.2s ease;
      -webkit-transition: top 0.2s ease;
      -ms-transition: top 0.2s ease;
      transition: top 0.2s ease; }
      .page > .welcome > .container > * {
        float: left;
        clear: left;
        left: 50%;
        transform: translateX(-50%); }
      .page > .welcome > .container > .logo {
        opacity: 0;
        margin-top: 20px;
        animation: logo .5s ease-out .4s forwards;
        width: 20vw;
        height: 20vw;
        max-width: 218px;
        max-height: 218px;
        min-width: 115px;
        min-height: 115px;
        background-image: url("../../img/spring2017/logo-noText-trans.png");
        background-size: contain;
        background-repeat: no-repeat; }
@keyframes logo {
  from {
    margin-top: 20px;
    opacity: 0; }
  to {
    margin-top: 0px;
    opacity: 1; } }
      .page > .welcome > .container > .title {
        opacity: 0;
        animation: title .4s ease-out .9s forwards;
        padding-top: 30px;
        font-size: 2em;
        color: white;
        font-weight: 300; }
@keyframes title {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
      .page > .welcome > .container > .date {
        opacity: 0;
        animation: title .5s ease-out 0.9s forwards;
        color: white;
        font-size: 1em;
        font-weight: 300; }
@keyframes title {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    .page > .welcome > .nav-links:not(.isMobile) {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%); }
      .page > .welcome > .nav-links:not(.isMobile) > .modified-link {
        float: left;
        width: auto;
        height: auto;
        text-align: center;
        bottom: -10px;
        opacity: 0;
        outline: none;
        text-decoration: none;
        color: inherit;
        -webkit-tap-highlight-color: transparent;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        .page > .welcome > .nav-links:not(.isMobile) > .modified-link:visted {
          outline: none;
          text-decoration: none;
          color: inherit;
          -webkit-tap-highlight-color: transparent; }
        .page > .welcome > .nav-links:not(.isMobile) > .modified-link.schedule {
          animation: schedule-start .4s ease-out .2s forwards; }
@keyframes schedule-start {
  from {
    bottom: -10px;
    opacity: 0; }
  to {
    bottom: 0px;
    opacity: 1; } }
        .page > .welcome > .nav-links:not(.isMobile) > .modified-link.faq {
          animation: faq-start .4s ease-out .2s forwards; }
@keyframes faq-start {
  from {
    bottom: -10px;
    opacity: 0; }
  to {
    bottom: 0px;
    opacity: 1; } }
        .page > .welcome > .nav-links:not(.isMobile) > .modified-link.sponsors {
          animation: sponsors-start .4s ease-out .2s forwards; }
@keyframes sponsors-start {
  from {
    bottom: -10px;
    opacity: 0; }
  to {
    bottom: 0px;
    opacity: 1; } }
        .page > .welcome > .nav-links:not(.isMobile) > .modified-link > .link {
          color: white;
          font-weight: 300;
          font-size: 1em;
          padding: 20px;
          margin: 10px;
          float: left;
          border-color: white;
          border-radius: 5px;
          border-style: solid;
          border-width: 2px; }
@keyframes link-highlight {
  from {
    background-color: initial;
    color: white; }
  to {
    background-color: white;
    color: black; } }
        .page > .welcome > .nav-links:not(.isMobile) > .modified-link:hover span {
          animation: link-highlight .2s ease-out 0s forwards; }
    .page > .welcome > .nav-links.isMobile {
      display: none; }
  .page > .schedule {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    float: left; }
    .page > .schedule.isMobile {
      height: calc(100vh + 60px);
      -moz-transition: height 999999999999s ease-in !important;
      -o-transition: height 999999999999s ease-in !important;
      -webkit-transition: height 999999999999s ease-in !important;
      transition: height 999999999999s ease-in !important;
      -ms-transition: height 999999999999s ease-in !important; }
    .page > .schedule:not(.isMobile) {
      margin-bottom: 50vh; }

/*# sourceMappingURL=main.css.map */
