@import 'variables';


body{

	//{ ** ATTRIBUTES
		background-color: $color-black;
		margin: 0;
		height: auto;
		width: auto;
	//} ** END ATTRIBUTES
	
}

*{
	position: relative;
	z-index: 1;
}

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

label{
	z-index: 999999;
}

.hackbot{

	//{ ** ATTRIBUTES
		width: calc(100vw - 400px);
		background-color: black;
		min-height: 100vh;
		height: auto;
		position: fixed;
		z-index: 0;
	//} ** END ATTRIBUTES
	
	>.nav-links.isMobile{

		//{ ** ATTRIBUTES
			bottom: 20px;
			right: 20px;
			position: absolute;
			max-width: calc(107px * 2);
		//} ** END ATTRIBUTES
		
		>.modified-link, >noscript>.modified-link{

			//{ ** ATTRIBUTES
				float: left;
				width: auto;
				height: auto;
				// clear: bot
				text-align: center;
			//} ** END ATTRIBUTES

			//{ ** INCLUDES
				@include noDecoration();
			//} ** END INCLUDES
			
			>label>.link, >.link{
				color: white;
				font-weight: 300;
				font-size: 1em;
				padding: 10px;
				width: 63px;
				margin: 5px 10px;
				float: left;
				border-color: white;
				border-radius: 5px;
				border-style: solid;
				border-width: 2px;
			}
			>label>.link{
				display: none;
			}
		}
	}
	>.nav-links:not(.isMobile){
		display: none;
	}

	&.isMobile{
		width: 100vw;
	}
	
}

#navigator:checked ~ label > div.navigator{

	//{ ** DESCRIPTION
		/**
			The navigator is open at this moment. The animation below
			changes the open square into a closed 'X'
		**/
	//} ** END DESCRIPTION
	
	
	>.element:not(.isMobile){
		&.e1{

			transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);

			@keyframes e1-close{
				from{
					top: 0px;
					transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
				}
				to{
					top: 29px;
					transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
				}
			}
			animation: e1-close .2s ease-out 0s forwards;
		}
		&.e2{

			transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);

			@keyframes e2-close{
				from{
					left: -20px;
					transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-o-transform: rotate(90deg);
				}
				to{
					left: 10px;
					transform: rotate(135deg);
					-ms-transform: rotate(135deg);
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
				}
			}
			animation: e2-close .2s ease-out .05s forwards;
		}
		&.e3{

			transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);

			@keyframes e3-close{
				from{
					right: -20px;
					transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-o-transform: rotate(90deg);
				}
				to{
					right: 10px;
					transform: rotate(135deg);
					-ms-transform: rotate(135deg);
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
				}
			}
			animation: e3-close .2s ease-out .1s forwards;
		}
		&.e4{

			transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);

			@keyframes e4-close{
				from{
					bottom: 0px;
					transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
				}
				to{
					bottom: 29px;
					transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
				}
			}
			animation: e4-close .2s ease-out .15s forwards;
		}
	}

	>.element.isMobile{
		&.e1{

			transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);

			@keyframes e1-close-m{
				from{
					top: 10px;
					transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
				}
				to{
					top: 29px;
					transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
				}
			}
			animation: e1-close-m .2s ease-out 0s forwards;
		}
		&.e2{

			transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);

			@keyframes e2-close-m{
				from{
					left: -10px;
					transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-o-transform: rotate(90deg);
				}
				to{
					left: 10px;
					transform: rotate(135deg);
					-ms-transform: rotate(135deg);
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
				}
			}
			animation: e2-close-m .2s ease-out .05s forwards;
		}
		&.e3{

			transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);

			@keyframes e3-close-m{
				from{
					right: -10px;
					transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-o-transform: rotate(90deg);
				}
				to{
					right: 10px;
					transform: rotate(135deg);
					-ms-transform: rotate(135deg);
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
				}
			}
			animation: e3-close-m .2s ease-out .1s forwards;
		}
		&.e4{

			transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);

			@keyframes e4-close-m{
				from{
					bottom: 10px;
					transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
				}
				to{
					bottom: 29px;
					transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
				}
			}
			animation: e4-close-m .2s ease-out .15s forwards;
		}
	}

	&:hover{
		>.element{
			// background-color: red;
		}
	}
}

#navigator:checked ~ section.page{
			
	//{ ** ATTRIBUTES
		width: 400px;
	//} ** END ATTRIBUTES
	
	&.isMobile{
		width: 0px;
	}

	>.welcome{
		>.container:not(.isMobile){
			top: 30%;
		}
		>.nav-links:not(.isMobile){
			>.modified-link{

				//{ ** ATTRIBUTES
					clear: both;
					left: 50%;
					transform: translateX(-50%);
				//} ** END ATTRIBUTES
				>.link{
					width: 70px;
					max-width: 70px;
				}
			}
		}
	}
}

#navigator:not(:checked) ~ label > div.navigator{
	>.element:not(.isMobile){
		&.e1{
			@keyframes e1-start{
				from{
					top: 0px;
				}
				to{
					top: 10px;
				}
			}
			animation: e1-start .1s ease-out .2s forwards;

			top: 0px;
			transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
		}
		&.e2{
			@keyframes e2-start{
				from{
					left: -20px;
				}
				to{
					left: -10px;
				}
			}
			animation: e2-start .1s ease-out .2s forwards;

			transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);
		}
		&.e3{
			@keyframes e3-start{
				from{
					right: -20px;
				}
				to{
					right: -10px;
				}
			}
			animation: e3-start .1s ease-out .2s forwards;

			transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);
		}
		&.e4{
			@keyframes e4-start{
				from{
					bottom: 0px;
				}
				to{
					bottom: 10px;
				}
			}
			animation: e4-start .1s ease-out .2s forwards;

			transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
		}
	}

	>.element.isMobile{
		&.e1{
			@keyframes e1-start-m{
				from{
					top: 29px;
					transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
				}
				to{
					top: 10px;
					transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
				}
			}
			animation: e1-start-m .2s ease-out .2s forwards;

			top: 29px;
			transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
		}
		&.e2{
			@keyframes e2-start-m{
				from{
					left: 10px;
					transform: rotate(135deg);
					-ms-transform: rotate(135deg);
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
				}
				to{
					left: -10px;
					transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-o-transform: rotate(90deg);
				}
			}
			animation: e2-start-m .2s ease-out .65s forwards;

			left: 10px;
			transform: rotate(135deg);
			-ms-transform: rotate(135deg);
			-webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			-o-transform: rotate(135deg);
		}
		&.e3{
			@keyframes e3-start-m{
				from{
					right: 10px;
					transform: rotate(135deg);
					-ms-transform: rotate(135deg);
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
				}
				to{
					right: -10px;
					transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-o-transform: rotate(90deg);
				}
			}
			animation: e3-start-m .2s ease-out .35s forwards;

			right: 10px;
			transform: rotate(135deg);
			-ms-transform: rotate(135deg);
			-webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			-o-transform: rotate(135deg);
		}
		&.e4{
			@keyframes e4-start-m{
				from{
					bottom: 29px;
					transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
				}
				to{
					bottom: 10px;
					transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
				}
			}
			animation: e4-start-m .2s ease-out .5s forwards;

			bottom: 29px;
			transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
		}
	}

	&:hover{
		>.element:not(.isMobile){
			&.e1{
				@keyframes e1-hover{
					from{
						top: 10px;
					}
					to{
						top: 0px;
					}
				}
				animation: e1-hover .1s ease-out 0s forwards;
			}
			&.e2{
				@keyframes e2-hover{
					from{
						left: -10px;
					}
					to{
						left: -20px;
					}
				}
				animation: e2-hover .1s ease-out 0s forwards;
			}
			&.e3{
				@keyframes e3-hover{
					from{
						right: -10px;
					}
					to{
						right: -20px;
					}
				}
				animation: e3-hover .1s ease-out 0s forwards;
			}
			&.e4{
				@keyframes e4-hover{
					from{
						bottom: 10px;
					}
					to{
						bottom: 0px;
					}
				}
				animation: e4-hover .1s ease-out 0s forwards;
			}
		}
	}

}

.navigator{

	//{ ** ATTRIBUTES
		position: fixed;
		left: 20px;
		top: 20px;
		width: 60px;
		height: 60px;
		cursor: pointer;
		z-index: 9999999;

	//} ** END ATTRIBUTES
	
	>.element:not(.isMobile){
		position: absolute;
		width: 40px;
		height: 2px;
		background-color: white;

		&.e1{
			
			top: 0px;
			left: 10px;
		}
		&.e2{

			left: -20px;
			top: 29px;
		}
		&.e3{

			right: -20px;
			top: 29px;

		}
		&.e4{

			bottom: 0px;
			left: 10px;
			
		}
	}
	>.element.isMobile{
		position: absolute;
		width: 40px;
		height: 2px;
		background-color: white;

		&.e1{
			
			top: 10px;
			left: 10px;
		}
		&.e2{

			left: -10px;
			top: 29px;
		}
		&.e3{

			right: -10px;
			top: 29px;

		}
		&.e4{

			bottom: 10px;
			left: 10px;
			
		}
	}
	&.isMobile{


		//{ ** ATTRIBUTES
			top: initial;
			bottom: 20px;
		//} ** END ATTRIBUTES
		

		//{ ** INCLUDES
			@include noDecoration();
		//} ** END INCLUDES
		
	}
}

.page{

	//{ ** ATTRIBUTES
		float: right;
		clear: none;
		min-height: 100vh;
		height: auto;
		width: 100vw;
		background-color: $color-black;   
	//} ** END ATTRIBUTES

	//{ ** INCLUDES
		@include quickTransition(width);
	//} ** END INCLUDES	

	@mixin page-properties-default(){
				
		//{ ** INCLUDES
			@include fullHeight();
		//} ** END INCLUDES
		width: 100%;
		overflow-x: hidden;
		float: left;
		&:not(.isMobile){
			margin-bottom: 50vh;
		}
	}

	&.hackbot-open{
		height: 100vh;
		overflow: hidden;
	}

	>.welcome{


		//{ ** INCLUDES
			@include page-properties-default();
		//} ** END INCLUDES
		

		>.container{
					
			//{ ** ATTRIBUTES
				float: left;
				height: auto;
				width: auto;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			//} ** END ATTRIBUTES


			//{ ** INCLUDES
				@include quickTransition(top);
			//} ** END INCLUDES
			
			>*{
				float: left;
				clear: left;
				left: 50%;
				transform: translateX(-50%);
			}		
			>.logo{

				opacity: 0;
				margin-top: 20px;

				@keyframes logo{
					from{
						margin-top: 20px;
						opacity: 0;
					}
					to{
						margin-top: 0px;
						opacity: 1;
					}
				}

				animation: logo .5s ease-out .4s forwards;

				//{ ** ATTRIBUTES
					width: 20vw;
					height: 20vw;
					max-width: 218px;
					max-height: 218px;
					min-width: 115px;
					min-height: 115px;
					background-image: url('../../img/spring2017/logo-noText-trans.png');
					background-size: contain;
					background-repeat: no-repeat;
					
					
					
				//} ** END ATTRIBUTES
				
			}
			>.title{

				opacity: 0;

				@keyframes title{
					from{
						opacity: 0;
					}
					to{
						opacity: 1;
					}
				}

				animation: title .4s ease-out .9s forwards;
				//{ ** ATTRIBUTES
					padding-top: 30px;
					font-size: 2em;
					color: white;
					font-weight: 300;
				//} ** END ATTRIBUTES
				
			}

			>.date{
				opacity: 0;

				@keyframes title{
					from{
						opacity: 0;
					}
					to{
						opacity: 1;
					}
				}

				animation: title .5s ease-out 0.9s forwards;

				//{ ** ATTRIBUTES
					color: white;
					font-size: 1em;
					font-weight: 300;
				//} ** END ATTRIBUTES
				
			}
		}
		>.nav-links:not(.isMobile){

			//{ ** ATTRIBUTES
				position: absolute;
				bottom: 20px;
				left: 50%;
				transform: translateX(-50%);
			//} ** END ATTRIBUTES
			
			>.modified-link{

				//{ ** ATTRIBUTES
					float: left;
					width: auto;
					height: auto;
					text-align: center;
					bottom: -10px;
					opacity: 0;
					
				//} ** END ATTRIBUTES
				

				//{ ** INCLUDES
					@include noDecoration();
					@include quickTransition(all);
				//} ** END INCLUDES
				&.schedule{
					@keyframes schedule-start{
						from{
							bottom: -10px;
							opacity: 0;
						}
						to{
							bottom: 0px;
							opacity: 1;
						}
					}
					animation: schedule-start .4s ease-out .2s forwards;
				}
				&.faq{
					@keyframes faq-start{
						from{
							bottom: -10px;
							opacity: 0;
						}
						to{
							bottom: 0px;
							opacity: 1;
						}
					}
					animation: faq-start .4s ease-out .2s forwards;
				}
				&.sponsors{
					@keyframes sponsors-start{
						from{
							bottom: -10px;
							opacity: 0;
						}
						to{
							bottom: 0px;
							opacity: 1;
						}
					}
					animation: sponsors-start .4s ease-out .2s forwards;
				}
				>.link{

					//{ ** ATTRIBUTES
						color: white;
						font-weight: 300;
						font-size: 1em;
						padding: 20px;
						margin: 10px;
						float: left;
						border-color: white;
						border-radius: 5px;
						border-style: solid;
						border-width: 2px; 
						// opacity: 0;  
					//} ** END ATTRIBUTES
					   
				}

				&:hover{
					// >.link{
						@keyframes link-highlight{
							from{
								background-color: initial;
								color: white;
							}
							to{
								background-color: white;
								color: black;
							}
						}
						span{
							animation: link-highlight .2s ease-out 0s forwards;
						}
					// }
				}
				
			}
		}
		>.nav-links.isMobile{
			display: none;
		}
	}
	>.schedule{

				
		//{ ** INCLUDES
			@include page-properties-default();
		//} ** END INCLUDES
		
		
	}
}
